/*

Cover-More/AU Post Theme Style Sheet - Offer - Innate
--------------------------------------------*/

article { padding: 0 0 40px; }

.covermore { text-align: center; }




/* 
  Desktop
-----------------------------*/
@media screen and (min-width: 700px) {

	article { float: none; width: 700px; padding: 0 0 40px; }

}