/*

Cover-More/AU Post Theme Style Sheet - Plan Options - Innate
--------------------------------------------*/

/* Initialization/Defaults */
h1 { padding-right: 20px; padding-left: 20px; border: 0; }
h2 { margin-bottom: 30px; font-size: 2.4rem; color: #5e514d; }
  h2.subheader { font-size: 2.4rem; }

/* Article */
article { padding: 0 0 40px; background: none; }


/* Group Selector */
.groupSelector { margin: -30px 0 30px 20px; font-size: 1.4rem; font-family: "Letter Regular"; }  

/* Plan Selector */
.planSelector { height: 65px; margin: 0 0 -7px; padding: 0; }
  .planSelector li { float: left; display: block; width: 50%; padding: 0; box-sizing: border-box; }
  .planSelector li:first-child { border-left: 0; }  
  .planSelector a { display: block; padding: 10px; min-height: 55px; border: 0; font-size: 1.6rem; font-family: "Letter Regular"; text-align: center; }
  .planSelector li.selected { border-radius: 0 4px 0 0; }
  .planSelector li.selected a { background: #fff; color: #5e514d; text-decoration: none; }

/* Intro */
.intro { margin-bottom: 30px; padding: 0 20px; font-size: 1.6rem; }
  .intro h2 strong { display: block; font-weight: normal; } /* Changed 7/15/15 */
  .intro em { font-style: normal; font-family: "Letter Regular"; }
  .intro p { margin-bottom: 2px; }

  .planImg { width: 100%; height: auto; margin-bottom: 20px; }
  .impulseFlag { position: absolute; display: inline-block; margin: 10px 0 0 20px; padding: 9px 34px 14px; background: #27e4b8; border-radius: 3px; font-size: 1.7rem; line-height: 1; font-family: "Letter Regular"; }  

/* Form Styles */
.intro legend { float: left; min-height: 0; }
  .intro .radioList { clear: none; margin: 0; padding: 1px 0 0 30px; }  
  .buttonWell { padding: 10px 0 }

/* Plans */
.plans { padding: 0; background: #fff; }


/* Select Button */
.selectPlan { margin-top: 10px; }
  .selectPlan input[type="radio"] + label { width: 100%; height: 40px; min-height: 0; padding: 10px 0 0; background: #e9222c none; border: 0; border-radius: 3px; font-size: 1.6rem; font-family: "Letter Regular"; color: #fff; text-align: center; box-sizing: border-box; }

    .selectPlan input[type="radio"] + label:hover { background: #ee2d3c; }  
    .selectPlan input[type="radio"] + label:focus, .selectPlan input[type="radio"] + label:active { background: #bc111e; }  

  .selectPlan input[type="radio"]:checked + label, .selectPlan input[type="radio"]:checked + label:hover, .selectPlan input[type="radio"]:checked + label:focus, .selectPlan input[type="radio"]:checked + label:active  { background: #fff url(../files/images/backgrounds/bkg-selectedplan.png) no-repeat 34% 50%; background-size: 18px auto; border: 1px solid #75be55; color: #75be55; }

  .selectPlan input[type="radio"]:checked + label { padding-left: 25px; }

/* Benefits Table */
.benefitsTable { float: none; clear: both; margin-bottom: 30px; border-top: 2px solid #f3f1ee; }
  .benefitsTable th, .benefitsTable td { width: 50%; }  
  .benefitsTable th { padding: 10px 12px 10px 20px; font-weight: normal; }
  .benefitsTable td { padding: 10px 20px 10px 12px; font-weight: bold; }

  .benefitsTable tr:first-child th, .benefitsTable tr:first-child td { padding-top: 20px; }
  .benefitsTable tr:nth-child(n+4) { display: none; }

  /* Open Benefits */
.benefitsLink { display: inline-block; margin: 0 0 30px 20px; padding: 0; }  
  .benefitsLink:before { content: ""; display: inline-block; width: 0; height: 0; border: 6px solid transparent; border-left: 8px solid #dc1928; }

  .openBenefits tr:nth-child(n+4) { display: table-row; }

/* Benefit Hovers */
.popup { position: absolute; z-index: 2; margin: 7px 0 0; visibility: hidden; }
  .popup:before { left: 0; }  
  .popup p { min-height: 0; margin: 0; }

/* Excess - Changed/Added 7/15/15 */
.extras, .buttonWell { overflow: hidden; background: #fff; padding: 20px; } 
  .buttonWell { padding-top: 0; } 

.extraIcons { display: none; }

/* Luggage Area - Added 7/16/15 */
#luggageItemsContainer { width: 100%; margin: 20px 0 10px; padding: 10px 0; border-collapse: separate; border-spacing: 5px; border-bottom: 3px solid #e2dfda; border-top: 3px solid #e2dfda; }
  #luggageItemsContainer th { display: none; height: 15px; padding: 0; vertical-align: top; }   
  #luggageItemsContainer td { display: block; padding: 3px 5px 0 0; vertical-align: top; }
  #luggageItemsContainer input, #luggageItemsContainer select { padding: 0 10px; }
  #luggageItemsContainer [readonly] { margin-right: 5px; padding: 0; border: 0; }
  #luggageItemsContainer label { display: block; font-weight: bold; }

  #luggageItemsContainer tr:nth-child(2) td { padding-bottom: 10px;  }
  #luggageItemsContainer tr:nth-child(2) td:last-child { vertical-align: middle; padding: 20px 0; border-bottom: 1px solid #e2dfda; }


/* Footer */
footer { margin-top: 75px; }


/* 
  Phone
-----------------------------*/
@media screen and (min-width: 480px) {

  .selectPlan input[type="radio"]:checked + label, .selectPlan input[type="radio"]:checked + label:hover, .selectPlan input[type="radio"]:checked + label:focus, .selectPlan input[type="radio"]:checked + label:active  { background-position: 40% 50%; }  

}



/* 
  Large Phone/Small Tablet
-----------------------------*/
@media screen and (min-width: 640px) {
    
  .selectPlan input[type="radio"]:checked + label, .selectPlan input[type="radio"]:checked + label:hover, .selectPlan input[type="radio"]:checked + label:focus, .selectPlan input[type="radio"]:checked + label:active  { background-position: 42% 50%; }  

}


/* 
  Tablet
-----------------------------*/
@media screen and (min-width: 800px) {
    
  .selectPlan input[type="radio"]:checked + label, .selectPlan input[type="radio"]:checked + label:hover, .selectPlan input[type="radio"]:checked + label:focus, .selectPlan input[type="radio"]:checked + label:active  { background-position: 43.7% 50%; }  

}


/* 
  Desktop
-----------------------------*/
@media screen and (min-width: 980px) {
  
  h1 { display: inline-block; width: auto; margin: 8px auto 15px; padding-left: 0; font-size: 3.2rem; }

  /* Plan Selector */
  .planSelector { display: none; }

  /* Group Selector */
  .groupSelector { position: absolute; display: block; margin: -62px 0 0 220px; } /* Changed 7/6/15 */
    .groupSelector li { display: inline-block; }

    .groupSelector li:after { content: "|"; position: relative; top: -1px; left: 2px; display: inline-block; width: 10px; margin: 0; padding: 0; text-align: center; }  
      .groupSelector li:last-child:after { display: none; }    

     /* Group Plans */
    .groupPlans > div:last-child { margin-right: 0; }

  /* Plans */
  .plans { width: 470px !important; margin-right: 20px; margin-bottom: 15px; border-radius: 3px; }
    .plans.hide { position: relative; height: auto; }
    .plans.selected { margin-bottom: 2px; padding-bottom: 15px; border-radius: 3px 3px 0 0; }

    .intro { /*overflow: hidden;*/ margin-bottom: 10px; } /* Changed 7/15/15 */

  .planImg { position: relative; top: -10px; width: auto; margin-left: -20px; margin-bottom: 10px;  }
  .impulseFlag { margin: -10px 0 0 -1px; }

  .selectPlan { display: block; margin-bottom: 23px; }
    .selectPlan input[type="radio"]:checked + label, .selectPlan input[type="radio"]:checked + label:hover, .selectPlan input[type="radio"]:checked + label:focus, .selectPlan input[type="radio"]:checked + label:active  { background-position: 15% 50%; }  


  .extras { float: none; clear: both; padding-right: 180px; padding-left: 180px; border-radius: 0 0 3px 3px; }
    .extras .purchaseList > li { padding-left: 120px; box-sizing: border-box; }

.buttonWell { padding-right: 180px; }

  .extraIcons { float: left; display: inline; margin-top: 5px; margin-left: -120px; }

/* Luggage Area - Added 7/16/15  */
#luggageItemsContainer { width: 500px; margin-left: -10px; }
  #luggageItemsContainer th { display: table-cell; }   
  #luggageItemsContainer td { display: table-cell; }
  #luggageItemsContainer input, #luggageItemsContainer select { max-width: 130px; }
  #luggageItemsContainer label { position: absolute; overflow: hidden; clip: rect(0,0,0,0); width: 0 !important; height: 0; }
  #luggageItemsContainer tr:nth-child(2) td:last-child { border: 0; padding: 0; }  

      /* Benefit Hovers */
      .benefitsTable th:hover .popup  { cursor: pointer; visibility: visible; pointer: cursor; }

}