/*

Cover-More/Virgin Australia Theme Style Sheet - Get A Quote - Innate
--------------------------------------------*/

/* Initialization */
h1 { position: static; margin: 0 0 17px; padding: 0 0 15px; width: 100%; height: auto; background: none; border-bottom: 1px solid #c7cbd3; font-size: 2.2rem; color: #36424a; }

h2 { font-size: 3.2rem; }
h3 { margin-bottom: 10px; font-size: 2.2rem; }

  input[type="text"], input[type="number"], select { height: 30px; }

/* Locations - Changed 10/2/15 */
.locations { overflow: hidden; margin: 0; padding: 0; width: 100%; }
  .locations li { width: 100%; margin: 0; padding: 0; }
  .locations img { width: 100%; height: auto; }


.quoteWidget { position: relative; margin: 10px auto; width: calc(100% - 20px); padding: 20px 20px 10px; background: #f6f6f6; border-radius: 0; box-shadow: 0 0 5px 2px rgba(0,0,0,0.07); box-sizing: border-box; }

    .quoteWidget .buttonWell { margin-bottom: 0; padding-top: 10px; }


/* Age of Travellers */
  .ageHolder fieldset { margin-top: 20px; }
  .ageHolder ul { list-style-type: none; margin: 0; padding: 0; }
  .ageHolder li { float: left; width: 14.666666667%; margin: 0 2% 0 0; padding: 0; text-align: center; }
    .ageHolder li:last-child { margin-right: 0; width: 16.666666667%; }  
    .ageHolder li label { position: absolute; overflow: hidden; clip: rect(0,0,0,0); height: 0; }

  .ageHolder input { padding: 0; text-align: center; }
    .ageHolder input:focus, .ageHolder input:active { padding: 0; }  

  /* Age Error - Added 4/20/16 */
  #adultTravellers li div.error { position: absolute; z-index: 2; left: 19px; width: calc(100% - 10px); max-width: 250px; margin-top: -180px; padding: 6px; background: #f6f6f6; }


  .grid_2 input { margin: 0; }    
  
.btnLink { display: block; margin: 20px 0; }


/*
Country/Region Selector 
-----------------------------*/
#country { overflow: hidden; position: relative; z-index: 4; vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; }

  #selector.openCountry { display: none; }

.countrySelector, .quoteArea .countrySelector { overflow: hidden; position: absolute; right: 5.7%; z-index: 5; float: right; display: block; width: 44px; height: 36px; margin: -32px 0 0 -46px; background: transparent url(../files/images/backgrounds/bkg-select-arrow.png) no-repeat 50% 50%; background-size: 9px auto; border: 0; text-indent: -300px; }
  .countrySelector:hover, .countrySelector:focus, .countrySelector:active { background: transparent url(../files/images/backgrounds/bkg-select-arrow.png) no-repeat 50% 50%; background-size: 9px auto; }

.countryDisplay { position: absolute; z-index: 4; display: none; width: 600px; min-width: 280px; min-height: 436px; margin: 0; padding: 0 0 12px; background: #fff url(../files/images/backgrounds/bkg-countryselector.gif) repeat-y; box-shadow: 0 0 5px 2px rgba(0,0,0,0.07); border-radius: 6px; } 

  .countryDisplay .groups-container { height: 445px; margin: 0; padding: 0; font-size: 1.3rem; line-height: 1.2; }

  .countryDisplay .group { position: absolute; left: 170px; width: 542px; }
    .countryDisplay .group legend { position: absolute; left: -9999px; }
    .countryDisplay .group.active { z-index: 1000 }

    .countryDisplay label.group-label { position: absolute; display: block; margin-left: -170px; width: 198px; height: 40px; padding-right: 15px; padding-top: 12px; padding-left: 15px; background: transparent; font-size: 1.3rem; }
        .countryDisplay label.group-label strong  { font-weight: normal;  }   
        .countryDisplay .group input[type="radio"]:checked + label.group-label { background: #fff; color: #382f2d; }
        .countryDisplay .group input[type="radio"]:checked + label.group-label strong { font-weight: bold; }        

    input[type="radio"] + label ~ div.columns { overflow: auto; position: absolute; clip: rect(0,0,0,0); left: -9999px; top: 0; width: 392px; height: 433px; margin-top: 4px; margin-left: 27px; }   
    input[type="radio"]:checked + label ~ div.columns { float: left; position: static !important; } 
    
  .countryDisplay .column { position: relative; z-index: 10; float: left; width: 180px; margin: 5px 0 0 5px; }
    .countryDisplay .column li { margin: 0; padding: 0; background: none; }
    .countryDisplay .column label { min-height: 0; margin-bottom: 0; padding: 7px 5px 7px 10px; background: transparent; border-radius: 0; font-weight: normal; font-size: 1.3rem; cursor: pointer; }
      .countryDisplay .column label:hover, .countryDisplay .column label:focus, .countryDisplay .column label:active { background: #b3d25f; color: #382f2d; }
      .countryDisplay .column input[type="radio"]:checked + label{ background: #75be55; color: #382f2d; }

  .countryDisplay .closeWindow { float: right; position: relative; top: -45px; display: none; width: 44px; height: 25px; padding: 10px 0 0; border: 1px solid #ccc; text-align: center; }
  
/* Region Positioning */  
.region-1 { top: 0; }
.region-2 { top: 39px; }
.region-3 { top: 78px; }
.region-4 { top: 117px; }
.region-5 { top: 156px; }
.region-6 { top: 195px; }
.region-7 { top: 234px; }


/* Country Lister */
.countryLister { margin: 0; padding: 0; }
  .countryLister li { display: inline-block; padding-right: 5px; padding-left: 0; background: none; }
  .countryLister button { display: block; width: auto; height: auto; margin: 0; padding: 2px 25px 2px 5px; background: #fff url(../files/images/backgrounds/bkg-country-remove.png) no-repeat 95% 50%; background-size: 8px auto; border: 1px solid #c7cbd3; border-radius: 2px; font-size: 1.4rem; color: #36424a; }  


/* AutoComplete */
.ui-listview { position: absolute; z-index: 3; overflow-y: scroll; min-width: 280px; width: calc(100% - 40px); height: 0; max-height: 197px; background: #fff; border-radius: 6px; } 
  .ui-listview-active { height: auto; box-shadow: 0 0 5px 2px rgba(0,0,0,0.07); } 

    .ui-listview > li > a.ui-btn { padding: 7px 0 7px 30px; background: #fff; border: 0; font-weight: normal; font-size: 1.3rem; color: #da1d2f; box-sizing: border-box; }
        .ui-listview > li > a.ui-btn:hover, .ui-listview > li > a.ui-btn:focus, .ui-listview > li > a.ui-btn:active { background: none; box-shadow: none; color: #da1d2f; text-shadow: none; }
        .ui-listview > li:hover, .ui-listview > li:focus, .ui-listview > li:active { background-image: none; }

.ui-page-theme-a { text-shadow: none; }

.ui-corner-all { border-radius: 2px; }

  .ui-btn-icon-right:after, .ui-loader { display: none !important; }

/* jQM overwrites */
  .ui-mobile label { font-size: 1.5rem; }  

  /* Placeholders */
  .featured { overflow: hidden; width: 100%; margin: 0; padding: 45px 30px; }
    .featured ul { margin: 35px 0 0; padding: 0; }
    .featured li { padding-left: 0; background: 0; }
    .featured img { margin-bottom: 10px; vertical-align: top; }  
    .featured h3 { font-weight: normal; font-family: "Proxima Nova Regular"; }

  .carousel { overflow: hidden; position: relative; width: 100%; margin: 0; padding: 0; font-size: 1.4rem; line-height: 1.3; }

    .owl-item img { max-width: 100%; height: auto; margin: 0 0 20px; }
      .owl-item img.veloBanner { position: relative; left: 50%; width: 1280px; max-width: none; margin-left: -640px; }
    .owl-controls { display: none; }
    .owl-item { overflow: hidden; position: absolute; padding: 0 30px; box-sizing: border-box; }
 
  .coverage { margin: 0 auto; padding: 45px 0 0; text-align: center; }
    .coverage ul { margin: 0; padding: 0; }
    .coverage h2 { margin-bottom: 40px; font-size: 3.2rem; font-family: "Proxima Nova Light"; text-align: center; }
    .coverage li { display: inline-block; width: 140px; margin: 0 0 20px; padding: 0 1%; background: none; font-size: 1.8rem; line-height: 1.3; font-family: "Proxima Nova Semibold"; color: #6d7078; text-transform: uppercase; text-align: center; }
    .coverage img { display: block; margin: 0 auto 20px; }


/* Phone */
@media only screen and (min-width: 480px) {
  .countrySelector { right: 3.5%; }

}

@media only screen and (min-width: 640px) {
  .countrySelector { right: 2.4%; }

}
  


@media screen and (min-width: 981px) {

  .ui-listview { width: 480px; margin-top: 0 !important; }

  .ui-listview > li > a.ui-btn { padding: 7px 0 7px 30px;  }

}

@media screen and (min-width: 800px) {

  /* Initialization */
  h1 { width: 320px; margin-left: -20px; padding-left: 20px; }

    /* Locations - Changed 10/2/15 */
  .locations { position: absolute; width: 1280px; left: 50%; margin: 0 0 0 -640px; }
    .locations div { width: 1208px; height: 700px; }
    .locations img { position: absolute; overflow: hidden; clip: rect(0,0,0,0); width: 0 !important; height: 0; }  
    .locations li { background: url(../files/images/content/location-1.jpg) no-repeat; }
      .locations li:nth-child(2) { background-image: url(../files/images/content/location-2.jpg); }
      .locations li:nth-child(3) { background-image: url(../files/images/content/location-3.jpg); }      

  .quoteWidget { position: relative; margin: 26px 30px 35px 22px; width: 320px; background: #f6f6f6; border-radius: 6px; box-shadow: 0 0 5px 2px rgba(0,0,0,0.07); box-sizing: border-box; }

    .container_12 .grid_2 { width: 130px; }

  .btnLink { display: inline-block; margin: 0 0 0 20px; }  

  .buttonWell input[type="submit"] { float: left; }

  /* Container */
  .container_12 .grid_4 { width: 320px; }

  .countrySelector { margin: -33px 0 0 238px !important; right: auto; }   

  /* Placeholders */
  .featured { width: 1050px; padding: 45px 30px; }
    .featured li { float: left; width: 320px; margin-right: 15px; }
    .featured li:last-child { margin-right: 0; }

  .carousel { position: relative; left: 50%; width: 1280px; height: 300px; margin: 0 0 0 -640px; }
    .carousel img { width: 1280px; }
    .carousel h2, .carousel p { margin-bottom: 10px; }
    
    .owl-item > div > div, .owl-item > div > div.alignLeft { position: relative; top: -237px; float: right; width: 320px; margin: 0 150px 0 0; }
    .owl-item > div > div.alignLeft  { top: -253px; float: left; width: 320px; margin: 0 0 0 150px; }
 
    .coverage h2 { font-size: 6.0rem; }
    .coverage li { margin: 0 120px 0 0; }
      .coverage li:last-child { margin-right: 0; } 

  /* Age Error - Added 4/20/16 */
  #adultTravellers li div.error { left: auto; width: 100%; margin-top: -90px; margin-left: 110px; }


/* Tablet - Country Selector */
@media only screen and (max-width: 980px) {

  .countryDisplay { width: calc(100% - 40px); height: 195px; min-height: 0; margin-left: 0; background: #fff; }

  input.focusLevel { width: 100% !important; }  

    .countryDisplay .closeWindow { top: -45px; left: 2px; width: 60px; height: 30px; border: 0; }

    .countryDisplay .groups-container { overflow: auto; position: absolute; width: 100%; height: 192px; padding: 0; border: 0; -webkit-overflow-scrolling: touch; }

    .countryDisplay .group { position: static; width: 100%; }

    .countryDisplay label.group-label { position: static !important; margin: 0; width: 100%; min-height: 0; height: auto; padding-top: 9px; padding-bottom: 8px; font-size: 1.3rem !important; -webkit-user-select: none; }

    .countryDisplay .group input[type="radio"]:checked + label.group-label { background: none; }

    .countryDisplay .group input[type="radio"]:checked + label.group-label strong { font-size: 1.3rem; }

    input[type="radio"] + label + div.columns { width: 100%; height: auto; margin: 0; padding-top: 0; }

    input[type="radio"]:checked + label + div.columns { float: none; position: static; } 

  .countryDisplay .column { overflow: hidden; float: none; position: static; display: block; width: 100%; margin: 0; padding: 0; }

  .countryDisplay .column input[type="radio"] { margin-left: 20px; z-index: 1; }

  .countryDisplay .column label { height: 37px; margin: 0; padding: 10px 15px 0 25px; background: #fff; border-radius: 0; -webkit-user-select: none;  }

  .countryDisplay label.group-label:hover strong { font-weight: normal; }  

  .countryDisplay label.region-2, .countryDisplay label.region-3, .countryDisplay label.region-4 { height: auto; }


}