/*

Cover More/JetLag - CDG Interactive, Inc.
--------------------------------------------*/

/*

Custom Fonts Initialization
--------------------------------------------*/
@font-face {
    font-family: 'Franchise Regular';
    src: url('type/franchise-bold-webfont.eot');
    src: url('type/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/franchise-bold-webfont.woff') format('woff'),
         url('type/franchise-bold-webfont.ttf') format('truetype'),
         url('type/franchise-bold-webfont.svg#franchiseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Bryant Regular';
	src: url('type/bryant-regular-webfont.eot');
	src: url('type/bryant-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('type/bryant-regular-webfont.woff') format('woff'),
		url('type/bryant-regular-webfont.ttf') format('truetype'),
		url('type/bryant-regular-webfont.svg#bryant_regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bryant Medium';
	src: url('type/bryant-medium-webfont.eot');
	src: url('type/bryant-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('type/bryant-medium-webfont.woff') format('woff'),
		url('type/bryant-medium-webfont.ttf') format('truetype'),
		url('type/bryant-medium-webfont.svg#bryant_mediumregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed Bold';
    src: url('type/OpenSans-CondBold-webfont.eot');
    src: url('type/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/OpenSans-CondBold-webfont.woff') format('woff'),
         url('type/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('type/OpenSans-CondBold-webfont.svg#OpenSansCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Light';
    src: url('type/nunito-light-webfont.eot');
    src: url('type/nunito-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/nunito-light-webfont.woff') format('woff'),
         url('type/nunito-light-webfont.ttf') format('truetype'),
         url('type/nunito-light-webfont.svg#NunitoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kohinoor Medium';
    src: url('type/indian_type_foundry_-_kohinoor_medium-webfont.eot');
    src: url('type/indian_type_foundry_-_kohinoor_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/indian_type_foundry_-_kohinoor_medium-webfont.woff') format('woff'),
         url('type/indian_type_foundry_-_kohinoor_medium-webfont.ttf') format('truetype'),
         url('type/indian_type_foundry_-_kohinoor_medium-webfont.svg#kohinoormedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
Reset/Defaults - Based on normalize.css, modified
------------------------------------------------*/

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */

/* --- Base Elements --- */
html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-size: 62.5%; line-height: 62.5%; background: #f3efe0; color: #00335a; } /* 1rem = 10px */
body { margin: 0; padding: 0; }

/* --- Block Elements --- */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
[hidden] { display: none; }
p, blockquote, caption, div { margin: 0 0 10px; }

/* --- Anchor Elements --- */
a { color: #e00911; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }
a img { border: none; }

/* --- Header Text --- */
h1 { font-weight: normal; }

h1 { overflow: hidden; height: 40px; margin-left: 10px; }


/* --- Text Elements --- */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
i, em { font-style: italic; }
dfn { font-style: italic; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
mark { background: #ff0; color: #000; }
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1.0rem; }
pre { white-space: pre-wrap; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5rem; }
sub { bottom: -0.25rem; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }


/* --- Form/Inputs --- */
form { margin: 0; padding: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }
button, input { line-height: normal; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

	input[type='submit'] { float: right; width: 122px; height: 31px; margin: -37px -10px 0 0; padding: 0; background: url(../files/images/buttons/btn-submit.png) no-repeat; background-size: 244px auto; border: 0; font-size: 18px; font-size: 1.8rem; line-height: 1; font-family: 'Franchise Regular'; color: #426f8f; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.5); text-indent: 65px !important; text-transform: uppercase; }
		input[type='submit']:active { background-position: -123px 0; }

/* Placeholder */
::-webkit-input-placeholder { color: #595959; }
:-moz-placeholder { color: #595959; } /* Firefox 18- */
::-moz-placeholder { color: #595959; } /* Firefox 19+ */
:-ms-input-placeholder { color: #595959; }

/* --- Table  Elements --- */
table { width: 100%; border-collapse: collapse; border-spacing: 0; }

/* --- List Items --- */
ul, ol { list-style: none outside none; }

/* 
     Utility ID's
     ----------------------- */      
.hide { position: absolute; top: 0; left: -320px; }


/*
Site Styles
------------------------------------------------*/

/*
Body
------------------------------------------------*/
body { font-size: 18px; font-size: 1.8rem; line-height: 1.2; font-family: Helvetica, Arial, sans-serif; }


/*
Container
------------------------------------------------*/
.container { overflow: hidden; position: relative; width: 320px; margin: 0 auto; padding: 0; background: url(../files/images/backgrounds/bkg-container.png) repeat; background-size: 3px auto; }

/*
Header
------------------------------------------------*/
.siteLogo { display: block; padding: 0 0 4px; border-bottom: 5px solid #fff; }

/*
Content
------------------------------------------------*/
.content { margin: 0; padding: 20px 15px 5px; 
	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,210,179,0.95)), color-stop(4%,rgba(219,210,179,0.13)), color-stop(8%,rgba(219,210,179,0)), color-stop(100%,rgba(219,210,179,0))), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,210,179,0)), color-stop(92%,rgba(219,210,179,0)), color-stop(96%,rgba(219,210,179,0.13)), color-stop(100%,rgba(219,210,179,0.95))); /* Chrome,Safari4+ */
	
	background-image: -webkit-linear-gradient(top,  rgba(219,210,179,0.95) 0%,rgba(219,210,179,0.13) 4%,rgba(219,210,179,0) 8%,rgba(219,210,179,0) 100%), -webkit-linear-gradient(top,  rgba(219,210,179,0) 0%,rgba(219,210,179,0) 92%,rgba(219,210,179,0.13) 96%,rgba(219,210,179,0.95) 100%); /* Chrome10+,Safari5.1+ */
	
	background-image: linear-gradient(to bottom,  rgba(219,210,179,0.95) 0%,rgba(219,210,179,0.13) 4%,rgba(219,210,179,0) 8%,rgba(219,210,179,0) 100%), linear-gradient(to bottom,  rgba(219,210,179,0) 0%,rgba(219,210,179,0) 92%,rgba(219,210,179,0.13) 96%,rgba(219,210,179,0.95) 100%); /* W3C */

border-top: 1px solid #333; }

h1, .buttonWell { height: 25px; margin: 0 0 8px; padding: 5px 0 0;

	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */

box-shadow: 0 8px 8px 0 rgba(185,179,155,0.3); font-size: 14px; font-size: 1.4rem; font-family: 'Open Sans Condensed Bold'; color: #333; }

	h1 em, .answer { display: inline-block; width: 27px; height: 30px; margin: -5px 5px 0 0; padding: 0; background: url(../files/images/backgrounds/bkg-markers.png) no-repeat 0 0; background-size: 162px auto; text-indent: -200px; vertical-align: middle; }
	.answer { width: 200px; height: 22px; padding: 8px 0 0 35px; background-image: url(../files/images/backgrounds/bkg-markers.png); background-position: -135px 0; text-indent: 0; }
	
	.secondQuestion { background-position: -27px 0; }
	.thirdQuestion { background-position: -54px 0; }	
	.fourthQuestion { background-position: -81px 0; }	
	.finalQuestion { background-position: -108px 0; }	
	
	fieldset ul { position: absolute; top: 0; left: -640px; } 
		
/* Pagination */	
.pagination { overflow: hidden; position: relative; z-index: 1; width: 306px; height: 94px; margin: -150px 0 55px -15px; padding: 7px 7px 0; background: url(../files/images/backgrounds/bkg-pagination.png) no-repeat; background-size: 320px auto; }	

.prev, .next { float: left; display: block; width: 48px; height: 92px; margin: 0; padding: 0; background: url(../files/images/buttons/btn-pagination.png) no-repeat; background-size: 192px auto; cursor: pointer; -webkit-user-select: none; }
.next { float: right; background-position: -96px 0; }

	.prev:active { background-position: -48px 0; }
	.next:active { background-position: -144px 0; }	

.buttonWell { margin-bottom: 20px; }

/* Display Label */	
.displayBox { overflow: hidden; width: 565px; height: 195px; margin: 0 0 0 -15px; padding: 0 0 0 15px; text-align: center; }
	.displayBox img { position: relative; left: -290px; }

/* Counter - Styles/Animation */	
.flipCounter { position: relative; top: 16px; margin-left: 47px; padding-left: 0; background: url(../files/images/backgrounds/bkg-counter.png) no-repeat; background-size: 196px auto; }

	.flipCounter .front, .flipCounter .back { position: absolute; z-index: 1; width: 196px; height: 161px; }
	.flipCounter .back { z-index: 0; }

.flipTL, .flipTR, .flipBR, .flipBL { overflow: hidden; position: relative; left: 5px; top: 2px; float: left; display: block; width: 91px; height: 77px; margin: 0; padding: 0; background-repeat: no-repeat; background-size: 91px auto; text-align: center; }

.flipTL { background-image: url(../files/images/backgrounds/bkg-flip-tl.png); }	
.flipBL { background-image: url(../files/images/backgrounds/bkg-flip-bl.png); }
.flipTR { background-image: url(../files/images/backgrounds/bkg-flip-tr.png); }
.flipBR { background-image: url(../files/images/backgrounds/bkg-flip-br.png); }

.flipTR, .flipBR { left: 10px; }
.flipBL, .flipBR { top: 3px; }

	.flipCounter span { overflow: hidden; display: block; width: 91px; height: 173px; margin: 0; padding: 0; font-size: 162px; font-size: 16.25rem; line-height: 157px; line-height: 0.96301; font-family: 'Franchise Regular'; color: #d3eefb; opacity: 0.9; text-align: center; }		

	.flipCounter .flipBL span, .flipCounter .flipBR span { margin-top: 4px; line-height: 0; }
	
	.front .flipTR, .front .flipTL { 
		-moz-transform: rotateX(0deg); 
		-webkit-transform: rotateX(0deg);
		-o-transform: rotateX(0deg);
		transform: rotateX(0deg);			
	}
	
	.front .flipBR, .front .flipBL { 
		-moz-transform: rotateX(-90deg); 
		-webkit-transform: rotateX(-90deg); 
		-o-transform: rotateX(-90deg); 
		transform: rotateX(-90deg); 			
	}

		.no-csstransforms3d .front .flipBR, .no-csstransforms3d .front .flipBL { display: none; }
		
	.front .flipOutX { 
		-moz-transform: perspective(500px) rotateX(-90deg);
		-moz-transition-duration: 0.10s;
		-moz-transform-origin: 0 100%;	 
		-moz-backface-visibility: visible;
		
		-webkit-transform: perspective(500px) rotateX(-90deg);
		-webkit-transition-duration: 0.10s;
		-webkit-transform-origin: 0 100%;	 
		-webkit-backface-visibility: visible;
		
		-o-transform: perspective(500px) rotateX(-90deg);
		-o-transition-duration: 0.10s;
		-o-transform-origin: 0 100%;	 
		-o-backface-visibility: visible;
		
		transform: perspective(500px) rotateX(-90deg);
		transition-duration: 0.10s;
		transform-origin: 0 100%;	 
		backface-visibility: visible;			
	}
	
	.front .flipInX {
		-moz-transform: perspective(500px) rotateX(0deg);
		-moz-transition-duration: 0.10s;
		-moz-transform-origin: 0 0;	 
		-moz-backface-visibility: visible;
		-moz-transition-delay: 0.1s;
		
		-webkit-transform: perspective(500px) rotateX(0deg);
		-webkit-transition-duration: 0.10s;
		-webkit-transform-origin: 0 0;	 
		-webkit-backface-visibility: visible;
		-webkit-transition-delay: 0.1s;
		
		-o-transform: perspective(500px) rotateX(0deg);
		-o-transition-duration: 0.10s;
		-o-transform-origin: 0 0;	 
		-o-backface-visibility: visible;
		-o-transition-delay: 0.1s;
		
		transform: perspective(500px) rotateX(0deg);
		transition-duration: 0.10s;
		transform-origin: 0 0;	 
		backface-visibility: visible;
		transition-delay: 0.1s;			
	}	

		.no-csstransforms3d .front .flipOutX { display: none; }
		.no-csstransforms3d .front .flipInX { display: block; top: 80px; }

/*
Footer - Changed 7/25/13
------------------------------------------------*/
/*
footer { float: left; width: 316px; height: 46px; padding: 0; background-color: #1c569e; border: 2px solid #e0e0e0; box-shadow: inset 0 0 30px #00244d, 0 -5px 15px -5px rgba(0,0,0,0.4); text-align: center; }
	footer img { display: inline-block; }
	footer a { display: block; width: 100%; height: 20px; margin-left: -10px; padding: 13px 0; text-decoration: none; text-align: center; } 
*/

/* Footer */

footer { position: fixed; bottom: 0; width:316px; height: 16px; margin: 0 auto; padding: 12px 0 18px 0; background-color: #fff; border: 2px solid #e0e0e0; text-align: center; }
	footer span { position: relative; float: left; display: inline-block; margin: 5px 30px 0 35px; font-family: 'Kohinoor Medium'; font-size: 0.9rem; color: #008bb9; }
	footer img { float: left; }
	footer a { display: block; width: 100%; height: 20px; padding: 0; text-decoration: none; }

/* 
	Menu Navigation
-----------------------------*/
.menuNavigation { position: absolute; top: 27px; right: -274px; z-index: 1000; width: 100%; max-width: 274px; margin: 0; }
	.menuNavigation strong { position: relative; z-index: 4; left: -9px; top: -20px; display: block; width: 36px; height: 53px; margin: 0 0 0 -27px; padding: 0; background: transparent url(../files/images/links/link-menu.png) no-repeat 0 0; background-size: 36px 106px; text-transform: uppercase; text-align: center; }
	body.openNavigation .menuNavigation strong { margin: 0 0 0 -27px; background-position: 0 -53px; }
	body.closeNavigation .menuNavigation strong { margin: 0 0 0 -27px; background-position: 0 0; }
	.menuNavigation ul { position: relative; z-index: 2; float: left; clear: both; width: 100%; max-width: 274px; margin: -80px 0 0; padding: 0 0 50px; background: url(../files/images/backgrounds/bkg-menulist.png) no-repeat 0 100%; border-top: 0; border-radius: 0; box-shadow: none; font-family: 'Bryant Medium'; }
	.menuNavigation li { overflow: hidden; float: left; width: 100%; height: 50px; margin: 0; padding: 0; background: transparent url(../files/images/backgrounds/bkg-menulist.png) repeat-x 0 0; font-size: 2.6rem; text-transform: uppercase; border-radius: 0; }
		.menuNavigation li:last-child { border: none; }
	.menuNavigation li a { display: block; height: 25px; margin: 0; padding: 10px 0; color: #fffdf4; text-decoration: none; text-shadow: 2px 2px 5px #000; text-align: center; }
		.menuNavigation strong a { display: block; width: 36px; height: 53px; padding: 0; color: #becfda; text-align: center; text-decoration: none; }
	.menuNavigation span { display: block; position: relative; top: -80px; z-index: 3; width: 100%; height: 105px; margin: 0; padding: 0; background: url(../files/images/backgrounds/bkg-menuheader.jpg) no-repeat 0 0; }
	.menuNavigation span img { margin: 0 0 0 20px; }
	.menuNavigation .menuFooter { position: relative; z-index: 3; clear: both; width: 100%; height: 240px; padding: 30px 15px; background: url(../files/images/backgrounds/bkg-menufooter.jpg) no-repeat 0 0; background-size: 274px 300px;  font-family: 'Nunito Light'; }
		.menuNavigation .menuFooter .callCoverMore { position: relative; left: 50%; float: left; display: block; width: 149px; height: 46px; margin: 15px 0 10px -75px; }
	.menuNavigation .menuFooter span { position: relative; top: -1px; float: left; clear: both; display: inline-block; width: auto; height: auto; margin: 0 4px 10px 0px; background: none; font-size: 1.2rem; text-shadow: 1px 3px rgba(0,0,0,0.5); color: #78d5ec; }
	.menuNavigation .menuFooter img { float: left; }

/* Open/Close Navigation */

@-webkit-keyframes openNav { from { right: -274px; } to { right: -1px; }}
@-moz-keyframes openNav { from { right: -274px; } to { right: -1px; }}
@-o-keyframes openNav { from { right: -274px; } to { right: -1px; }}
@keyframes openNav { from { right: -274px; } to { right: -1px; }}

@-webkit-keyframes closeNav { from { right: -1px; } to { right: -274px; }}
@-moz-keyframes closeNav { from { right: -1px; } to { right: -274px; }}
@-o-keyframes closeNav { from { right: -1px; } to { right: -274px; }}
@keyframes closeNav { from { right: -1px; } to { right: -274px; }}

	.openNavigation .menuNavigation { right: -1px; -webkit-animation: openNav 0.3s; -moz-animation: openNav 0.3s; -o-animation: openNav 0.3s; animation: openNav 0.3s; }
		.openNavigation .menuNavigation strong { background-position: 0 0; }	
		.openNavigation .menuNavigation ul { box-shadow: 0 20px 20px 5px rgba(1,1,1,0.3); }	
	.closeNavigation .menuNavigation { right: -274px; -webkit-animation: closeNav 0.3s; -moz-animation: closeNav 0.3s; -o-animation: closeNav 0.3s; animation: closeNav 0.3s; }
		.closeNavigation .menuNavigation strong { background-position: 0 0; }	
		.closeNavigation .menuNavigation ul { box-shadow: none; }

/* jQuery Mobile Style Overrides */	
.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page { position: relative; top: auto; left: auto; width: 320px; }
	.ui-mobile .ui-page-active { overflow: hidden; }
	.ui-submit .ui-btn-hidden { position: static; opacity: 1; text-indent: 0; }
	.ui-submit .ui-btn-inner, .ui-loader { display: none; }


/*** iPhone 5 Specfic Styles ***/
@media screen and (min-device-height: 568px) {
	footer { position: fixed; bottom: 0; left: 50%; z-index: 10; margin-left: -160px; }
	.container { padding: 0 0 56px 0; }
}


/* 
Loader
-----------------------------*/
.loading { padding: 355px 0 0; background: url(../files/images/backgrounds/bkg-loading.gif) no-repeat, url(../files/images/backgrounds/bkg-loading-container.jpg) repeat-y; background-size: 320px auto, 320px auto; }
	.loading .content { background-image: none; border-top: 0; font-size: 12px; font-size: 1.2rem; font-family: 'Bryant Medium'; color: #323232; text-transform: uppercase; text-align: center; }
	
	
/* 
Download Screen - Added 7/30/13
-----------------------------*/
.download { background: url(../files/images/backgrounds/bkg-download.jpg) no-repeat, url(../files/images/backgrounds/bkg-download-container.jpg) repeat-y; background-size: 320px auto, 320px auto; }
	.download .siteLogo { border: 0; }
	.download .content { min-height: 150px; padding: 160px 0 0; background-image: none; border-top: 0; font-size: 12px; font-size: 1.2rem; font-family: 'Bryant Medium'; color: #323232; text-transform: uppercase; text-align: center; }	
	
.btnDownload { display: block; width: 197px; height: 43px; margin: 0 auto; padding: 18px 0 0; background: url(../files/images/buttons/btn-download.png) no-repeat; background-size: 393px auto; font-size: 21px; font-size: 2.1rem; line-height: 1; font-family: 'Franchise Regular'; color: #fff; text-transform: uppercase; text-decoration: none; text-align: center; }
	.btnDownload:active { background-position: -197px 0; }