/* Begin Datepicker Overrides */

.datepickerHolder { position: relative; width: 100%; margin: -15px 0 0; }
.datepickerHolder label { position: relative; z-index: 2; }
.ui-datepicker { position: absolute; z-index: 1; width: calc(100% - 10px) !important; min-width: 280px; margin-top: -45px; padding-top: 50px; padding-bottom: 10px; border: 2px solid #807370; border-radius: 2px; }
.hasDatepicker { display: none; margin-top: 0; }
.ui-widget { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-size: 1.2rem; }
.ui-widget-content { background: #fff none; color: #4c4c4c; }
a.ui-state-default { border-radius: 0; }
.ui-widget-header { border: 0; border-radius: 0; }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background: transparent none; border: 0; font-weight: normal; color: #382f2d; text-decoration: none; text-align: center; }
.ui-datepicker-group-first { margin-right: 16px; }
  .ui-datepicker-multi-2 .ui-datepicker-group { width: 100%; margin-bottom: 10px; }
  .ui-datepicker-multi .ui-datepicker-header { width: 100%; margin-left: 0; padding: 10px 0; background: #fff none; color: #807370; }
    .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header  { border-left-width: 1px !important; }
  .ui-datepicker-header .ui-state-hover { background: transparent none; border: 0; }
  .ui-datepicker a.ui-state-default.ui-state-active, .ui-datepicker a.ui-state-default.ui-state-highlight.ui-state-active, .ui-datepicker a.ui-state-default.ui-state-active.ui-state-hover { background: #75be55; font-weight: normal; }
  .ui-datepicker a.ui-state-default.ui-state-hover { background: #b3d25f; -webkit-transition: all .15s ease-in; -moz-transition: all .15s ease-in; transition: all .15s ease-in; }
.ui-datepicker-calendar { background: #f3f1ee; }
.ui-icon-circle-triangle-e { background: url(../files/images/icons/icon-next.png) no-repeat 9px 8px !important; }
.ui-icon-circle-triangle-w { background: url(../files/images/icons/icon-prev.png) no-repeat 15px 8px !important; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { top: 14px; border: 0; padding-bottom: 0; }
  .ui-datepicker .ui-datepicker-title { font-weight: normal; font-size: 14px; font-size: 1.4rem; }
    .ui-datepicker td a { color: #4c4c4c !important; text-align: center; padding: 4px; }
  .ui-datepicker th, .ui-datepicker td  { padding: 0; font-size: 1.4rem !important; }
.ui-datepicker th { background: #7f7370; padding: 5px; font-weight: normal; color: #fff; }
.ui-datepicker-multi .ui-datepicker-group table { width: 100%; margin: 0; }
/* Selector Dates */    
.date-range-selected > .ui-state-active,
.date-range-selected > .ui-state-default { background: none; background-color: #b3d25f; color: #382f2d !important; }  
.date-range-selected-start > .ui-state-active, .date-range-selected-start > .ui-state-default { background: #75be55; }
.date-range-selected-end > .ui-state-active, .date-range-selected-end > .ui-state-default { background: #75be55 !important; }
/* Input Focuses */

#travelDate { position: relative; z-index: 2; background: #fff url(../files/images/backgrounds/bkg-select-arrow.png) no-repeat 94.5% 50%; background-size: 9px auto; white-space: nowrap; text-overflow: ellipsis; }
[for="travelDate"] { margin-top: 20px; padding-top: 0; }
    [for="travelDate"].error { margin-top: 0; }
  #travelDate.focusLevel { width: calc(100% - 20px) !important; }
  .hasDatepicker .closeWindow { display: none; position: absolute; z-index: 4; top: -30px; right: 0; margin: 0; text-decoration: none; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { width: 2.8em; cursor: pointer; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { width: 25px; height: 25px; margin-left: -18px; margin-top: -18px; }
/* End Datepicker Overrides */


/* Date Picker Desktop Overwrites */
@media screen and (min-width: 480px) {

  .ui-datepicker-multi-2 .ui-datepicker-group { width: 66.666666667%; margin: 0 16.666666667%; }
  #travelDate { background-position: 96.8% 50%; }

}
@media screen and (min-width: 640px) {
  
  .ui-datepicker-multi-2 .ui-datepicker-group { width: 50%; margin: 0; max-width: 320px; }
  #travelDate { background-position: 97.75% 50%; }

}

@media screen and (min-width: 704px) {
  
  .ui-datepicker-multi-2 .ui-datepicker-group { width: 40%; margin: 0 5%; }

}

@media screen and (min-width: 800px) {

  #travelDate { background-position: 98.2% 50%; }

}

@media screen and (min-width: 980px) {

  .ui-datepicker { padding-top: 50px; margin: -43px 0 0 0; }
  .ui-datepicker-multi-2 .ui-datepicker-group { width: 48%; margin: 0 1%; }

  #travelDate { background-position: 97% 50%; }  
}