/*

Cover-More/AU Post Theme Style Sheet - Landing Page - Innate
--------------------------------------------*/

/*

Custom Fonts Initialization
--------------------------------------------*/
@font-face {
    font-family: 'Letter Regular';
    src: url('type/letter-regular-webfont.eot');
    src: url('type/letter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/letter-regular-webfont.woff') format('woff'),
         url('type/letter-regular-webfont.ttf') format('truetype'),
         url('type/letter-regular-webfont.svg#letter-regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Letter Medium';
    src: url('type/letter-medium-webfont.eot');
    src: url('type/letter-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/letter-medium-webfont.woff') format('woff'),
         url('type/letter-medium-webfont.ttf') format('truetype'),
         url('type/letter-medium-webfont.svg#letter-medium-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Letter Bold';
    src: url('type/letter-bold-webfont.eot');
    src: url('type/letter-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/letter-bold-webfont.woff') format('woff'),
         url('type/letter-bold-webfont.ttf') format('truetype'),
         url('type/letter-bold-webfont.svg#letter-bold-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Overwrites */
.right-panel { padding-top: 30px; }
  .right-panel menu, .right-panel ol, .right-panel ul { margin: 0; padding: 0; }
  .right-panel li { margin: 0; }
  .right-panel .side-nav { margin-bottom: 40px; }
  .l-container { position: static; }

h2, .main-nav, .secondary-cta, .secondary { font-family: "Letter Bold"; }
.left-sub-nav { display: none; }

.l-with-left-panel .content-panel { width: 600px; }

.expando-collapso > .rich-text { height: 0; padding: 0; }

#header .search-field button.search { background: #dc1928 url(../files/images/landing/sprites/bkg-search.png) no-repeat 50% 10px; }
#header .search-field button.search:hover { background: #e83643 url(../files/images/landing/sprites/bkg-search.png) no-repeat 50% -90px; }
a.primary-nav-shop-now-link { background: url(../files/images/landing/sprites/bkg-shop.png) no-repeat 9% 10px; }
a.primary-nav-shop-now-link:hover { background-position: 9% -90px; }
.icon-a031-search:before, .icon-a032-shop:before { display: none; }


/* Offer Block */
.offer-block { width: 100%; max-width: 1280px; height: 285px; margin: 0 auto; padding: 30px 0 0; background: url(../files/images/landing/backgrounds/bkg-landing.jpg) no-repeat;}
    .offer-panel { position: relative; right: 120px; float: right; width: 200px; height: 250px; padding: 66px 20px 0; background: #fff;  border-radius: 3px;box-sizing: border-box; }

        .offer-panel strong { font-size: 26px; line-height: 1.2; font-family: "Letter Regular"; color: #da1d2f; }
        .offer-panel span, .offer-panel a { color: #382f2d; }

/* Quote Area Styles */
.quoteArea { margin: 0 0 20px; padding: 0 0 20px; border-bottom: 1px solid #e2dfda; }  
    .quoteArea h1 { font-size: 24px; font-family: "Letter Regular"; }      
    .quoteArea h2.subheader { margin-bottom: 25px; padding: 0 0 10px; border-bottom: 1px solid #e2dfda; font-size: 16px; font-family: "Letter Regular"; }
    .quoteArea p { margin: 0 0 20px; }

/* Main/Form Styles */

.quoteArea legend, .quoteArea label { display: block; margin: 0 0 12px; font-size: 13px; box-sizing: border-box; }
.quoteArea label { cursor: pointer; }


  .quoteArea input[type="text"], .quoteArea input[type="password"], .quoteArea input[type="search"], .quoteArea input[type="number"] { width: 100%; height: 40px; padding: 0 20px; background: #fff; border: 1px solid #e2dfda; border-radius: 4px; font-size: 14px; color: #382f2d; box-sizing: border-box; outline: 0; }
  .quoteArea input[type="number"] { padding: 0; }
    .quoteArea input[type="text"]:focus, .quoteArea input[type="password"]:focus, .quoteArea input[type="search"]:focus, .quoteArea input[type="number"]:focus, .quoteArea input[type="text"]:active, .quoteArea input[type="password"]:active, .quoteArea input[type="search"]:active, .quoteArea input[type="number"]:active { padding: 0 19px; border: 2px solid #807370; }
    .quoteArea input[type="text"]:hover, .quoteArea input[type="password"]:hover, .quoteArea input[type="search"]:hover, .quoteArea input[type="number"]:hover { border: 1px solid #807370; }

  .quoteArea input[type="radio"], .quoteArea input[type="checkbox"] { position: absolute; overflow: hidden; clip: rect(0,0,0,0); vertical-align: middle; }

  .quoteArea input[type="radio"] + label, .quoteArea input[type="checkbox"] + label { /*min-height: 44px;*/ padding: 0 0 0 45px; background: url(../files/images/backgrounds/bkg-radio.png) no-repeat 0 -50px; background-size: 66px auto;  }
  .quoteArea input[type="checkbox"] + label { padding: 0 0 0 27px; background-image: url(../files/images/backgrounds/bkg-checkbox.png); background-position: 0 -50px; background-size: 67px auto; }  

      .quoteArea input[type="radio"]:checked + label { background-position: -50px 0; }
      .quoteArea input[type="checkbox"]:checked + label { background-position: -50px 0; }

/* Submit/Buttons */
  .quoteArea input[type="submit"], .quoteArea button { width: 100%; height: 40px; background: #e9222c; border: 0; border-radius: 3px; font-size: 14px; font-family: "Letter Regular"; color: #fff; box-sizing: border-box; }

    .quoteArea input[type="submit"]:hover, .quoteArea button:hover { background: #bc111e; }  
    .quoteArea input[type="submit"]:focus, .quoteArea input[type="submit"]:active, .quoteArea button:focus, .quoteArea button:active { background: #bc111e; }  

  .quoteArea input[disabled] { background: #f3f1ee; color: #5e5168; } 
    .quoteArea input[disabled]:hover, .quoteArea input[disabled]:focus, .quoteArea input[disabled]:active { } 

/* Special Input */
  .quoteArea input.focusLevel { z-index: 6 !important; margin-left: 10px; padding: 0 10px !important; background: #fff url(../files/images/backgrounds/bkg-select-arrow.png) no-repeat calc(100% - 15px) 50% !important; background-size: 9px auto !important; width: calc(100% - 20px) !important; border: 0 !important; border-bottom: 2px solid #807370 !important; border-radius: 0 !important; }    

  
/* Select */  
.quoteArea select { width: 100%; height: 40px; padding: 0 20px; background: #fff url(../files/images/backgrounds/bkg-select-arrow.png) no-repeat calc(100% - 15px) 50%; background-size: 9px auto; border: 1px solid #e2dfda; border-radius: 4px; font-size: 14px; line-height: 1; color: #382f2d; cursor: pointer;

    -webkit-transition: background-color, border; 
    transition: background-color, border; 
    box-sizing: border-box; 
    -webkit-appearance: none;
    -moz-appearance: none; text-indent: 0.01px; text-overflow: '';

    outline: 0; 
 }  

  .quoteArea select:hover { border: 1px solid #807370; }
  .quoteArea select:focus, .quoteArea select:active { padding: 0 19px; border: 2px solid #807370; }

  .quoteArea select::-ms-expand { display: none; }
  .ie9 .quoteArea select { background: #fff none; }

.quoteArea iframe { border: 0; }

/* Button Well */
.quoteArea .buttonWell { overflow: hidden; float: none; clear: both; margin: 0; padding: 0 0 15px; }
  .quoteArea .buttonWell input[type="submit"] { float: right; margin: 0; padding: 0; width: 140px; }


/* Placeholder */
::-webkit-input-placeholder { color: #a9a9a9; }
::-moz-placeholder { color: #a9a9a9; } /* firefox 19+ */
:-ms-input-placeholder { color: #a9a9a9; } /* ie */
input:-moz-placeholder { color: #a9a9a9; }   

.quoteArea .hide { position: absolute; overflow: hidden; clip: rect(0,0,0,0); width: 0 !important; height: 0; }     

.quoteArea .purchaseList { list-style-type: none; margin: 0; padding: 0; }
  .quoteArea .purchaseList > li { float: left; overflow: visible; clear: both; width: 100%; margin: 0; padding: 0 0 20px; }
  .quoteArea .purchaseList p { margin-top: 10px; margin-bottom: 5px; }  

/* Radio/Checkbox containers */
.quoteArea .radioList { overflow: hidden; clear: both; margin: -10px 0 0; padding: 0; }
  .quoteArea .radioList li { display: inline-block; padding: 0 20px 0 0; box-sizing: border-box; }
    .quoteArea .radioList li:last-child { padding-right: 0; }

  .quoteArea .radioList label { display: inline-block; margin: 0; border: 0; border-radius: 6px 0 0 6px; text-align: center; text-indent: -20px; }
      .quoteArea .radioList li:last-child label { border-radius: 0 6px 6px 0; }

/* Help/Help Window */
.quoteArea .help { position: relative; top: 3px; margin: 0 0 0 5px; padding: 0; border: 0; }

.quoteArea .helpWindow { position: absolute; overflow: hidden; clip: rect(0,0,0,0); width: 0; height: 0; }

/* Qtip Rewrites/Benefit Popups */
.qtip-help { display: none; width: 256px; margin: 7px 0 0 -128px; padding: 12px; background: #fff; box-shadow: 0 0 7px 3px rgba(0,0,0,0.1); border: 0; border-radius: 3px; font-size: 13px; line-height: 1.25; }
    .qtip-help h3 { font-size: 15px; font-family: "Letter Regular"; }
    .qtip-help p, .qtip-help div, .qtip-help ul { margin: 0 0 5px; }

  /* jQM overwrites */
.ui-mobile .quoteArea label { font-size: 13px; }
.datepickerHolder { margin-top: 0; }

/* Country Selector Overrides */
  .countryDisplay .groups-container, .countryDisplay label, .quoteArea .countryDisplay label.group-label, .countryDisplay .group input[type="radio"]:checked + label.group-label strong, .ui-listview > li > a.ui-btn { font-size: 13px !important; }
.countryDisplay .column { list-style-type: none; padding-left: 0; }
.quoteArea .countryDisplay label.group-label { padding-top: 6px; }
.ui-listview > li:before { display: none; }

/* Datepicker */
.ui-datepicker .ui-datepicker-title, .ui-datepicker th, .ui-datepicker td { font-size: 14px !important; }

/* Primary Nav */
.drop-down { -webkit-transition: all 0.7s ease; transition: all 0.7s ease; } 
.primary-nav .wrapper > .main-nav > li:hover .drop-down { z-index: 10; opacity: 1; visibility: visible; }
.breadcrumb ul { position: static; }

.accessibility-links { z-index: 5; width: 100%; text-align: right; }
.btnNavigation { position: absolute; clip: rect(0,0,0,0); overflow: hidden; width: 50px; height: 50px; margin: 43px 15px 0 0; border-radius: 2px; font-size: 0; line-height: 0; display: none; }

      .primary-nav .wrapper > .main-nav > li.level-2 button { display: none; } 


/* 
  Phone
-----------------------------*/
@media screen and (max-width: 480px) {

  .l-footer .footer-panel.l-2-cols { width: auto; }
  .l-footer .footer-panel ul { float: none; }

  .l-header { height: 95px; margin-top: -11px; padding-top: 11px !important; }
  #header .search-field { display: none; position: static; float: none; }
  #header .main-logo { float: none; display: block; margin-bottom: 25px; }
  #header { margin: 0; padding: 0; height: auto; }

  #header .search-field button.search { float: left; clear: both; margin: 10px 0 0; }

  .offer-block { display: none; }

}

/* 
  Large Phone/Small Tablet
-----------------------------*/
@media screen and (max-width: 640px) {

    .top-nav li { float: none; display: block; }
    .top-nav { display: none; height: auto; }

    .quoteArea .buttonWell input[type="submit"] { float: none; width: 100%; }
      #header .search-field { display: none; }

    /* Navigation */
    .primary-nav { top: 82px !important; }     
      .btnNavigation { margin-top: 13px; }       
     
}


/* 
  Tablet
-----------------------------*/
@media screen and (max-width: 800px) {

    body { min-width: 0; }

    .l-main, #footer { width: 100%; min-width: 0; padding: 0; }
    #header, .l-header { width: 100%; min-width: 0; padding: 0; }   
    .l-header { padding: 0 20px; box-sizing: border-box; } 
    .l-container { overflow: hidden; min-width: 0; width: 100%; padding: 0; background: #fff; box-sizing: border-box; }
    /*.left-sub-nav, .sub-footer-links li:after { display: none; }*/

    .l-with-left-panel .li-image, .l-without-left-panel .li-image { margin-bottom: 15px; }  

        .l-with-left-panel .content-panel, .l-with-left-panel .right-panel, .l-without-left-panel .right-panel { float: none; width: 100%; padding: 30px 20px; box-sizing: border-box; }
        .l-with-left-panel .right-panel, .l-without-left-panel .right-panel { width: 100%; background: #f3f1ee; box-sizing: border-box; }

    .l-footer { min-width: 0; padding: 0 20px; box-sizing: border-box; }
    .l-footer .footer-panel, .l-footer .promotions-offers, .sub-footer-links, .social-links, .l-sub-footer { float: none; height: auto; margin-bottom: 30px; }
    .social-links { margin-left: -16px; }

    .sub-footer-links li.footer-help-link { width: 100px; height: 25px; border-radius: 3px; }
    .sub-footer-links li { display: block; margin-bottom: 10px; padding-left: 0; }

    #apdm-li { float: left; }

    .top-nav { width: 100%; padding: 0 20px; box-sizing: border-box; }

    .offer-panel { right: 30px; }

    /* Navigation */
    .primary-nav { position: absolute; top: 112px; left: 0; overflow: hidden; z-index: 10; width: 100%;height: auto; visibility: hidden; opacity: 0; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; }  
      .openNav { overflow: visible; visibility: visible; opacity: 1; } 

      .openNav:after { position: absolute; top: -16px; right: 27px; content: ''; z-index: 10; display: block; width: 0; height: 0; margin-left: 18px; border: 8px solid transparent; border-bottom: 8px solid #382f2d; }      
    .ui-page { width: 100%; } 

      .primary-nav li { box-sizing: border-box; }
      .primary-nav .wrapper { width: 100%; }      
      .primary-nav .wrapper > .main-nav { position: static; float: none; clear: both; width: 100%; height: auto; }
      .primary-nav .wrapper > .main-nav > li { overflow: hidden; float: none; clear: both; padding: 0 20px; }
      .primary-nav .wrapper > .main-nav > li > a { float: none; clear: both; margin-left: -20px; text-align: left; }
      .primary-nav .wrapper > .main-nav > li .drop-down { display: none; position: static; width: 100%; max-height: none; border-radius: 5px; box-shadow: none; opacity: 1; visibility: visible; }
      .primary-nav .wrapper > .main-nav > li .drop-down > .column { display: block; width: 100%; padding: 0 0 15px; border-right: 0; box-sizing: border-box; }  
      .primary-nav .wrapper > .main-nav > li .drop-down > div > .block > h3 { line-height: 1; margin-bottom: 20px; padding-left: 15px; }   
      .primary-nav .wrapper > .main-nav > li .drop-down > div > .block > ul > li > a { display: block; padding-left: 22px; } 
      .primary-nav .wrapper > .main-nav > li .drop-down > .column.last-column { padding-bottom: 0; border-right: 0; }   
      .primary-nav .wrapper > .main-nav > li:last-child { padding-right: 20px; }
      .primary-nav .wrapper > .main-nav > li.level-2:hover { background-image: none; }

      .primary-nav .wrapper > .main-nav > li.level-2 button { overflow: hidden; position: absolute; z-index: 20; right: 7px; display: block; width: 45px; height: 40px; margin: -43px 0 0; padding: 0; background: none; border: 0; font-size: 22px; line-height: 2; text-align: center; cursor: pointer; } 

      .primary-nav .level-4 { margin-bottom: 20px; }

      li.expand .drop-down { display: block !important; margin-bottom: 10px; }
      .primary-nav .wrapper > .main-nav > li.expand:hover { background: transparent; }

      .primary-nav .wrapper > .main-nav > li > a.primary-nav-shop-now-link { width: 100%; background: none; }
        .primary-nav .wrapper > .main-nav > li > a.primary-nav-shop-now-link:hover { background-color: #5e514d; }

      .btnNavigation { position: static; display: inline-block; }

}


.share-print { display: none; }