/*

Cover-More/Medibank Style Sheet - Widget
--------------------------------------------*/

body { font-family: Arial; }


.shortQuote { color: #5e514d; }

/* --- Header Text --- */
.shortQuote h1, .shortQuote h2, .shortQuote h3, .shortQuote h4, .shortQuote h5, .shortQuote h6 { -webkit-margin-before: 0; -webkit-margin-after: 0; margin: 0 0 10px; font-weight: normal;  color: #000; }

.shortQuote h1 { margin: 0 0 25px; padding: 0 0 25px; border-bottom: 1px solid #e2dfda; font-size: 24px; line-height: 1.2; color: #382f2d; box-sizing: border-box;  } 
.shortQuote h2 { margin: 0 0 20px; font-size: 18px; line-height: 1.2; }
  .shortQuote h2.subheader { padding: 0 0 10px; font-size: 16px; }
.shortQuote h3 { margin: 0 0 12px; font-size: 15px; line-height: 1.2; }
.shortQuote h4 { font-size: 12px; }
.shortQuote h5 { font-size: 11px; }
.shortQuote h6 { font-size: 10px; }

/* --- Block Text --- */
.shortQuote p, blockquote, caption { margin: 0 0 20px; }
.shortQuote div { margin: 0; }
.shortQuote hr { margin-bottom: 15px; }

/* --- Text Elements --- */
.shortQuote a { color: #da1d2f; text-decoration: underline; }
  .shortQuote a:hover, .shortQuote a:focus, .shortQuote a:active { text-decoration: none; }
.shortQuote sup { font-size: 9px; }
.shortQuote small { font-size: 10px; }
.shortQuote strong { font-weight: bold; }
.shortQuote em { font-style: italic; }

/* --- List Items --- */
.shortQuote ul { list-style: none outside none; margin: 0 0 15px 30px; padding: 0; }
.shortQuote ol { list-style: decimal outside none; margin: 0 0 15px 30px; }
 .shortQuote ul li, .shortQuote ol li { margin: 0; padding: 0 0 5px; }

/* --- Definition Elements --- */
dl, dt, dd {}
dl {}
dt {}
dd {}

/* --- Table  Elements --- */
.shortQuote table {}
.shortQuote th { text-align: left; vertical-align: top; }
.shortQuote td { vertical-align: top; }

/* --- Form/Inputs --- */
.shortQuote form { margin: 0; padding: 0; }
.shortQuote fieldset { margin: 0; padding: 0; border: 0; }

.shortQuote legend, .shortQuote label { display: block; margin: 0 0 12px; font-size: 13px; box-sizing: border-box; }
.shortQuote label { cursor: pointer; }

.shortQuote .flatLabel { padding-top: 0; }


  .shortQuote input[type="text"],.shortQuote input[type="password"],.shortQuote input[type="search"], .shortQuote input[type="number"] { width: 100%; height: 40px; padding: 0 20px; background: #fff; border: 1px solid #e2dfda; border-radius: 4px; font-size: 16px; color: #382f2d; box-sizing: border-box; outline: 0; }
 .shortQuote input[type="number"] { padding: 0; }
    .shortQuote input[type="text"]:focus,.shortQuote input[type="password"]:focus, .shortQuote input[type="search"]:focus, .shortQuote input[type="number"]:focus, .shortQuote input[type="text"]:active, .shortQuote input[type="password"]:active, .shortQuote input[type="search"]:active, .shortQuote input[type="number"]:active { padding: 0 19px; border: 2px solid #807370; }
   .shortQuote input[type="text"]:hover, .shortQuote input[type="password"]:hover, .shortQuote input[type="search"]:hover, .shortQuote input[type="number"]:hover { border: 1px solid #807370; }

.shortQuote input[type=text]::-ms-clear { display: none; }

  .shortQuote input[type="radio"], .shortQuote input[type="checkbox"] { position: absolute; overflow: hidden; clip: rect(0,0,0,0); vertical-align: middle; }

 .shortQuote input[type="radio"] + label, .shortQuote input[type="checkbox"] + label { padding: 0 0 1px 45px; background: url(../files/images/backgrounds/bkg-radio.png) no-repeat 1px -50px; background-size: 66px auto;  }
.shortQuote input[type="checkbox"] + label { padding: 0 0 2px 27px; background-image: url(../files/images/backgrounds/bkg-checkbox.png); background-position: 1px -50px; background-size: 67px auto; }  

     .shortQuote input[type="radio"]:checked + label { background-position: -49px 0; }
     .shortQuote input[type="radio"]:focus + label { outline: 1px dotted #5e514d; }    

     .shortQuote input[type="checkbox"]:checked + label { background-position: -49px 0; }
     .shortQuote input[type="checkbox"]:focus + label { outline: 1px dotted #5e514d; }      

/* Submit */
  .shortQuote input[type="submit"], button { width: 100%; height: 40px; background: #0092d2; border: 0; border-radius: 3px; font-size: 16px;  color: #fff; box-sizing: border-box; }

   .shortQuote input[type="submit"]:hover, button:hover { background: #0074a8; }  
    .shortQuote input[type="submit"]:focus, .shortQuote input[type="submit"]:active, button:focus, button:active { background: #bc111e; }  

 .shortQuote input[disabled] { background: #f3f1ee; color: #5e5168; } 
   .shortQuote input[disabled]:hover, .shortQuote input[disabled]:focus,.shortQuote input[disabled]:active { }

/* Button Link/Button */
 .shortQuote .btnLink, .shortQuote input[type="button"] { width: 100%; height: 40px; background: #fff; border: 2px solid #e9222c; border-radius: 3px; font-size: 16px;  color: #e9222c; text-decoration: none; box-sizing: border-box; }

   .shortQuote .btnLink:hover, .shortQuote input[type="button"]:hover { background: #bc111e; border-color: #bc111e; color: #fff; }  
    .shortQuote .btnLink:focus, .shortQuote .btnLink:active, .shortQuote input[type="button"]:focus, .shortQuote input[type="button"]:active { background: #bc111e; border-color: #0074a8; color: #fff; }  
  
/* Special Input */
 .shortQuote input.focusLevel, .shortQuote div.focusLevel { z-index: 6 !important; margin-left: 10px; padding: 0 10px !important; background: #fff url(../files/images/backgrounds/bkg-select-arrow.png) no-repeat 94.5% 50% !important; background-size: 9px auto !important; width: calc(100% - 20px) !important; border: 0 !important; border-bottom: 2px solid #807370 !important; border-radius: 0 !important; }    

 .shortQuote div.focusLevel { padding: 0 0 0 3px !important; }

  
/* Select */  
.shortQuote select { width: 100%; height: 40px; padding: 0 20px; background: #fff url(../files/images/backgrounds/bkg-select-arrow.png) no-repeat 94.5% 50%; background-size: 9px auto; border: 1px solid #e2dfda; border-radius: 4px; font-size: 16px; line-height: 1; color: #382f2d; cursor: pointer; 
    -webkit-transition: background-color, border; 
    transition: background-color, border; 
    box-sizing: border-box; 
    -webkit-appearance: none;
    -moz-appearance: none; text-indent: 0.01px; text-overflow: '';

    outline: 0; 
 }  

 .shortQuote select:hover { border: 1px solid #807370; }
  .shortQuote select:focus, .shortQuote select:active { padding: 0 19px; border: 2px solid #807370; }

  .shortQuote select::-ms-expand { display: none; }
  .shortQuote .ie9 select { background: #fff none; padding-right: 0; }

.shortQuote iframe { border: 0; }

/* Button Well */
.shortQuote .buttonWell { overflow: hidden; float: none; clear: both; margin: 0; padding: 0; }
 .shortQuote  .buttonWell input[type="submit"] { margin-bottom: 15px; }

/* Placeholder */
.shortQuote ::-webkit-input-placeholder { color: #a9a9a9; }
.shortQuote ::-moz-placeholder { color: #a9a9a9; } /* firefox 19+ */
.shortQuote :-ms-input-placeholder { color: #a9a9a9; } /* ie */
.shortQuote input:-moz-placeholder { color: #a9a9a9; }

/* Error/Validation */   
.shortQuote .error { border: 1px solid #bc111e !important; border-radius: 4px; color: #bc111e; }
  .shortQuote .error h2 { color: #bc111e; } 
 .shortQuote  label.error { margin: -6px 0 12px; padding: 0 0 0 20px; background: url(../files/images/backgrounds/bkg-error.png) no-repeat 0 1px; background-size: 14px auto; border: none !important; color: #bc111e !important; }
 .shortQuote  label.error2 { margin: -6px 0 12px; padding: 0 0 0 20px; background: url(../files/images/backgrounds/bkg-error.png) no-repeat 0 1px; background-size: 14px auto; border: none !important; color: #bc111e !important; }
 .shortQuote label.dateError { margin: -6px 0 12px; padding: 0 0 0 20px; background: url(../files/images/backgrounds/bkg-error.png) no-repeat 0 1px; background-size: 14px auto; border: none !important; color: #bc111e !important; }  
.shortQuote div.error { /*margin-bottom: 40px; border: 0 !important; */ }
 .shortQuote .error::-webkit-input-placeholder { color: #bc111e; }
  .shortQuote .error::-moz-placeholder { color: #bc111e; } /* firefox 19+ */
  .shortQuote .error:-ms-input-placeholder { color: #bc111e; } /* ie */
  .shortQuote input.error:-moz-placeholder { color: #bc111e; }  
.shortQuote #residentContainer.error { color: #5e514d !important; padding: 10px; }

/* 
  Utility ID's
----------------------- */   
.shortQuote .hide { position: absolute; overflow: hidden; clip: rect(0,0,0,0); width: 0 !important; height: 0; }
.shortQuote .alignLeft { float: left; margin: 0 10px 10px 0; }
.shortQuote .alignRight { float: right; margin: 0 0 10px 10px; }




/* 
  Form Styles
-----------------------------*/
.shortQuote .purchaseList { list-style-type: none; margin: 0; padding: 0; }
  /*.purchaseList > li { overflow: hidden; padding: 0 0 20px; }*/
 .shortQuote .purchaseList > li { position: relative; float: left; overflow: visible; clear: both; width: 100%; max-width: 460px; padding: 0 0 20px; box-sizing: border-box; }
.shortQuote  .purchaseList p { margin-top: 10px; margin-bottom: 5px; }  

/* Radio/Checkbox containers */
.shortQuote .radioList { overflow: hidden; clear: both; margin: 0; padding: 0 0 0 2px; } /* Changed 11/10/15 */
.shortQuote  .radioList li { display: inline-block; padding: 2px 20px 0 0; box-sizing: border-box; }
  .shortQuote  .radioList li:last-child { padding-right: 0; }

 .shortQuote .radioList label { display: inline-block; margin: 0; border: 0; border-radius: 6px 0 0 6px; text-align: center; text-indent: -20px; }
 .shortQuote .radioList li:last-child label { border-radius: 0 6px 6px 0; }

input.dob { position: relative; z-index: 2; background: #fff url(../files/images/backgrounds/bkg-select-arrow.png) no-repeat 94.5% 50%; background-size: 9px auto; white-space: nowrap; text-overflow: ellipsis; }      

.shortQuote .checkList { margin: 0; padding: 0 0 0 2px; } /* Changed 11/10/15 */   
 .shortQuote .checkList li { padding: 0; }
 .shortQuote   .checkList input[type="radio"] + label, .checkList input[type="checkbox"] + label { min-height: 0; }


/* Resident */

/*
#residentContainer legend { float: left; width: 133px; }
#residentContainer label { float: left; text-indent: -9999px; }
*/

/* Expiration Date */
.shortQuote .expireList { margin-bottom: -20px; }
.shortQuote  .expireList li { display: block; width: 100%; padding: 0 0 20px; } 


/* Declarations */
.shortQuote .declarations { clear: both; margin: -10px 0 0; }    
  .shortQuote .declarations li { overflow: hidden; padding-bottom: 2px; padding-left: 30px; } 
  .shortQuote .declarations label { overflow: hidden; float: left; width: 30px; margin-top: 10px; margin-left: -30px; text-indent: -300px; }

/* Help/Help Window */
.shortQuote .help, .shortQuote .ajaxHelp { position: relative; top: 0px; right: 10px; margin: 0 0 0 8px; padding: 0; border: 0; }
/* #residentContainer .help { top: -57px; } */
.ageHolder .help { top: -14px; }
[for="totalChildren"] .help { top: -18px; }
/* .shortQuote .ageHolder:nth-child(2) .help, .shortQuote .ageHolder:nth-child(2) .ajaxHelp { top: 3px; } */
.shortQuote .helpWindow { position: absolute; overflow: hidden; clip: rect(0,0,0,0); width: 0; height: 0; }

/* Qtip Rewrites/Benefit Popups */
.qtip-help, .popup { display: none; width: 420px !important; margin: 7px 0 0 -448px; padding: 12px; background: #fff; box-shadow: 0 0 7px 3px rgba(0,0,0,0.1); border: 0; border-radius: 3px; font-size: 14px; line-height: 1.25; }
.qtip-help { max-width: 420px; }
  .qtip-help h3 {  }
  .qtip-help h4 { font-size: 13px; }
  .qtip-help p, .qtip-help div, .qtip-help ul, .qtip-help ol { margin: 0 0 5px; }
  .qtip-help img { width: auto; max-width: 100%; height: auto; }

.qtip-content { overflow: auto; max-height: 200px; }
.infoDateTable { margin: 0 !important; color: #555 !important; }
.infoDateTable th { padding: 5px 15px !important; background: none !important; border-bottom: 1px solid #ccc !important; font-size: 14px !important; text-align: center !important; vertical-align: top !important; color: #555 !important; }
.infoDateTable tbody tr:first-child th { border: 0 !important;  border-bottom: 1px solid #ccc !important; color: #555 !important; }
  .infoDateTable tr:first-child th { font-size: 14px !important; }
 .infoDateTable td { width: 50% !important; padding: 5px 15px !important; border: 0 !important; vertical-align: top !important; font-size: 12px !important; }
.infoDateTable p { margin-bottom: 15px !important; }
.infoDateTable tr:nth-child(even) > td { background: none !important; }
.infoDateTable tbody > tr > th { border-left: 0 !important;border-right: 0 !important; }
  /* Payment Logos */
.logoCards { position: absolute; right: 20px; margin: -33px 0 0; }

/* Offers/Plans - Select Button */
.selectPlan { margin-top: 10px; }
  .selectPlan input[type="radio"] + label { width: 100%; height: 40px; min-height: 0; padding: 10px 0 0; background: #e9222c none; border: 0; border-radius: 3px; font-size: 16px;  color: #fff; text-align: center; box-sizing: border-box; }

    .selectPlan input[type="radio"] + label:hover { background: #ee2d3c; }  
    .selectPlan input[type="radio"] + label:focus, .selectPlan input[type="radio"] + label:active { background: #bc111e; }  

  .selectPlan input[type="radio"]:checked + label, .selectPlan input[type="radio"]:checked + label:hover, .selectPlan input[type="radio"]:checked + label:focus, .selectPlan input[type="radio"]:checked + label:active  { background: #fff url(../files/images/backgrounds/bkg-selectedplan.png) no-repeat 30% 50%; background-size: 18px auto; border: 1px solid #75be55; color: #75be55; }

  .selectPlan input[type="radio"]:checked + label { padding-left: 25px; }

.offerExtras { margin: 30px 20px 0; padding-top: 30px; border-top: 1px solid #e2dfda; }

.extraIcons { display: none; }



































/*
Defaults 
-----------------------------*/
/* html { background: #e2dfda; } */

.shortQuote h1 { margin-bottom: 15px; padding-bottom: 10px; }

.shortQuote section { margin: 0; }

  .shortQuote input[type="text"], .shortQuote input[type="password"], .shortQuote input[type="search"], .shortQuote input[type="number"] { padding: 0 10px; }
    .shortQuote input[type="text"]:focus, .shortQuote input[type="password"]:focus, .shortQuote input[type="search"]:focus, .shortQuote input[type="number"]:focus, .shortQuote input[type="text"]:active, .shortQuote input[type="password"]:active, .shortQuote input[type="search"]:active, .shortQuote input[type="number"]:active { padding: 0 9px; }

.shortQuote select { padding: 0 10px; background-position: 92% 50%; }
 .shortQuote select:focus, .shortQuote select:active { padding: 0 9px; }

.shortQuote legend { width: 100%; }

.shortQuote .buttonWell { width: 100%; max-width: 460px; margin: 0; padding: 0; }
.shortQuote  .buttonWell .grid_2 { float: none; }


/* jQM overwrites */
.ui-mobile label { font-size: 13px; }
.ui-page-theme-a { text-shadow: none; }
.ui-corner-all { border-radius: 2px; }
  .ui-btn-icon-right:after { display: none; }


/*
Quote Widget
-----------------------------*/
.shortQuote { max-width: 460px; margin: 0 auto; padding: 0; background: #fff; border-radius: 6px; box-sizing: border-box; } 

 .shortQuote .radioList li { display: block; margin-bottom: 7px; }

/* Age of Travellers */
 .shortQuote .ageHolder div {  }
.shortQuote .ageHolder fieldset { margin-top: 15px; }  
.shortQuote .ageHolder ul { list-style-type: none; margin: 0; padding: 0; }
.shortQuote .ageHolder li { float: left; width: 36px; margin: 0 2% 2% 0; padding: 0; text-align: center; }
.shortQuote .ageHolder li:last-child { margin-right: 0; }  
  .shortQuote .ageHolder li label { position: absolute; overflow: hidden; clip: rect(0,0,0,0); height: 0; }
 .shortQuote .ageHolder input { padding: 0; text-align: center; }
 .shortQuote .ageHolder input:focus, .shortQuote .ageHolder input:active { padding: 0; } 

       .shortQuote .purchaseList input.focusLevel#country { background-position: 99.4% 50% !important; } 

        .shortQuote .purchaseList input.focusLevel#country:hover,.shortQuote .purchaseList input.focusLevel#country:focus,.shortQuote .purchaseList input.focusLevel#country:active { border-top: 0; border-right: 0; border-left: 0; border-radius: 0; }
  .shortQuote .ageHolder .hide { display: none; }
      

  #childTravellers { float: left; display: block; width: 100%; max-width: 460px; margin-top: 20px; }
    #childTravellers input { margin-bottom: 5px; }
    #childTravellers li { width: 36px; } 

[for="totalChildren"] { margin-bottom: 10px; white-space: nowrap; }

  #adultTravellers li { width: 36px; }

/* Help */
.help, .ajaxHelp { float: right; }
.help:focus { outline: 1px dotted #999; }
/* [for="totalAdults"] .help { margin-top: -19px; } */
[for="totalChildren"] .help { margin-top: -20px; }
@-moz-document url-prefix() {
    [for="totalChildren"] .help { margin-top: -42px; }
}

legend .help { margin-top: -20px; }

/*
Country/Region Selector 
-----------------------------*/
.shortQuote #country { overflow: hidden; position: relative; z-index: 4; vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; font-size: 13px; }
.shortQuote #selector:focus { outline: 1px dotted #999; z-index: 10; }
 .shortQuote #selector.openCountry { display: none; }

.shortQuote .countrySelector { overflow: hidden; position: absolute; right: -4px; z-index: 5; float: right; display: block; width: 44px; height: 36px; margin: -38px 0 0; background: transparent url(../files/images/backgrounds/bkg-select-arrow.png) no-repeat 50% 50%; background-size: 10px auto; border: 0; text-indent: -3000px; }
  .shortQuote .countrySelector:hover, .shortQuote .countrySelector:focus, .shortQuote .countrySelector:active { background: transparent url(../files/images/backgrounds/bkg-select-arrow.png) no-repeat 50% 50%; background-size: 10px auto; }

.shortQuote .countryDisplay {position: absolute; z-index: 4; display: none; width: 718px; min-width: 280px; min-height: 436px; margin: -42px 0; padding: 55px 0 0; background: #fff url(../files/images/backgrounds/bkg-countryselector.gif) repeat-y; border: 2px solid #807370; border-radius: 2px; } 

  .shortQuote .countryDisplay .groups-container { height: 700px; margin: 0; padding: 0; font-size: 13px; line-height: 1.2; }

 .shortQuote .countryDisplay .group { position: absolute; left: 170px; }
   .shortQuote .countryDisplay .group legend { position: absolute; left: -9999px; }
   .shortQuote .countryDisplay .group.active { z-index: 1000 }

   .shortQuote .countryDisplay label.group-label { position: absolute; display: block; margin-left: -158px; width: 186px; height: 51px; padding-right: 10px; padding-top: 10px; padding-left: 10px; background: transparent; border-radius: 2px 0 0 2px; font-size: 13px; }
       .shortQuote .countryDisplay label.group-label strong  { font-weight: normal;  }   
      .shortQuote .countryDisplay .group input[type="radio"]:checked + label.group-label { background: #fff; color: #382f2d; }
       .shortQuote .countryDisplay .group input[type="radio"]:checked + label.group-label strong { font-weight: normal; }        

   .shortQuote input[type="radio"] + label ~ div.columns { overflow: auto; position: absolute; clip: rect(0,0,0,0); left: -9999px; top: 0; width: 390px; height: 680px; margin-top: 4px; margin-left: 27px; }   
   .shortQuote input[type="radio"]:checked + label ~ div.columns { float: left; position: static !important; } 
    
 .shortQuote .countryDisplay .column { position: relative; z-index: 10; float: left; width: 180px; margin: 5px 0 0 5px; }
   .shortQuote .countryDisplay .column li { margin: 0; padding: 0; }
   .shortQuote .countryDisplay .column label { min-height: 0; margin-bottom: 0; padding: 7px 5px 7px 10px; background: transparent; border-radius: 0; font-weight: normal; font-size: 13px; cursor: pointer; }
     .shortQuote .countryDisplay .column label:hover, .shortQuote .countryDisplay .column label:focus, .shortQuote .countryDisplay .column label:active { background: #b3d25f; color: #382f2d; }
     .shortQuote .countryDisplay .column input[type="radio"]:checked + label{ background: #75be55; color: #382f2d; }

 .shortQuote .countryDisplay .closeWindow { float: right; position: relative; top: -45px; display: none; width: 44px; height: 34px; padding: 10px 0 0; border: 1px solid #ccc; text-align: center; }
  
/* Region Positioning */  
.region-1 { top: 0; }
.region-2 { top: 50px; }
.region-3 { top: 100px; }
.region-4 { top: 136px; }
.region-5 { top: 186px; }

  .countryDisplay label.region-3, .countryDisplay label.region-5 { height: 37px; }


/* AutoComplete */
.shortQuote .ui-listview { position: absolute; z-index: 3; overflow-y: scroll; width: 100%; height: 0; max-height: 197px; margin-top: -40px; margin-left: 0; background: #fff; border-radius: 2px; } 
 .shortQuote .ui-listview-active {  border-top: 40px solid #fff; box-shadow: 0 0 0 2px rgba(128,115,112,1); height: auto; } 

   .shortQuote .ui-listview > li > a.ui-btn { padding: 7px 0 7px 30px; background: #fff !important; border: 0 !important; font-weight: normal; font-size: 13px; color: #da1d2f !important; box-sizing: border-box; text-shadow: none !important; } /* Changed 11/10/15 */
       .shortQuote .ui-listview > li > a.ui-btn:hover,.shortQuote .ui-listview > li > a.ui-btn:focus,.shortQuote .ui-listview > li > a.ui-btn:active { background: none; box-shadow: none; color: #da1d2f; text-shadow: none; text-decoration: underline !important; }



/*
Datepicker 
-----------------------------*/
.shortQuote .ui-datepicker {/* height: 260px; */ margin-top: -43px; }



.shortQuote #travelDate { font-size: 12px; background-position: 92.5% 50%; }  
  .shortQuote .displayDate.focusLevel { position: relative; top: 2px; background: #fff;/*background-position: 99.3% 50% !important;*/  } 
 .shortQuote  .displayDate span { display: none; }
 .shortQuote  .displayDate.focusLevel span { position: relative; z-index: 10; display: inline-block; width: 11px; text-align: center; }



[data-icon]:before { display: none; }
.ui-listview > li.ui-first-child, .ui-listview > li.ui-first-child > a.ui-btn { padding: 7px 0 7px 15px; }




/* Tablet */
@media only screen and (max-width: 760px) {
	.shortQuote .ui-datepicker {padding-bottom: 40px; }
	 .shortQuote .hasDatepicker .closeWindow { top: auto !important; right: auto !important; bottom: -425px; left: 50%; margin-left: -30px; }
 .shortQuote .ui-datepicker-multi-2 .ui-datepicker-group { width: 100% !important; margin: 0; }
  .shortQuote .countryDisplay { width: calc(100% - 4px); height: 195px; min-height: 0; margin-left: 0; background: #f3f1ee; }

  .shortQuote input.focusLevel { width: calc(100% - 15px) !important; }  
  
    .shortQuote .countryDisplay .closeWindow { top: -45px; left: 2px; width: 60px; height: 30px; border: 0; }

   .shortQuote .countryDisplay .groups-container, .shortQuote  .quoteArea .countryDisplay .groups-container { overflow: auto; position: absolute; width: 100%; height: 192px; padding: 0; border: 0; -webkit-overflow-scrolling: touch; }

   .shortQuote .countryDisplay .group, .shortQuote .quoteArea .countryDisplay .group { position: static; width: 100%; }

     .shortQuote .countryDisplay label.group-label,  .shortQuote .quoteArea .countryDisplay label.group-label { position: static !important; margin: 0; width: 100%; min-height: 0; height: auto; padding-top: 9px; padding-bottom: 8px; font-size: 13px !important; -webkit-user-select: none; }

     .shortQuote .countryDisplay .group input[type="radio"]:checked + label.group-label, .shortQuote .quoteArea .countryDisplay .group input[type="radio"]:checked + label.group-label { background: none; }

     .shortQuote .countryDisplay .group input[type="radio"]:checked + label.group-label strong { font-size: 13px; }

     .shortQuote input[type="radio"] + label + div.columns,  .shortQuote .quoteArea input[type="radio"] + label + div.columns { width: 100%; height: auto; margin: 0; padding-top: 0; }

     .shortQuote input[type="radio"]:checked + label + div.columns { float: none; position: static; } 

   .shortQuote .countryDisplay .column,  .shortQuote .quoteArea .countryDisplay .column { overflow: hidden; float: none; position: static; display: block; width: 100%; margin: 0; padding: 0; }

   .shortQuote .countryDisplay .column input[type="radio"] { margin-left: 20px; z-index: 1; }

   .shortQuote .countryDisplay .column label, .shortQuote .quoteArea .countryDisplay .column label { height: 37px; margin: 0; padding: 10px 15px 0 25px; background: #fff; border-right: 18px solid #f3f1ee; border-left: 18px solid #f3f1ee; border-radius: 0; -webkit-user-select: none;  }

   .shortQuote .countryDisplay label.group-label:hover strong { font-weight: normal; }  

   .shortQuote .countryDisplay label.region-2, .shortQuote .countryDisplay label.region-3, .shortQuote .countryDisplay label.region-4 { height: auto; }
   

}

  