/* Display Grid */
.quoteWidget .ui-countryselector { position: absolute; z-index: 4; width: calc(100% - 30px); min-width: 290px; max-width: 418px; height: 340px; margin: 60px 0 0; padding: 0; background-color: #fff; box-shadow: 0 5px 15px 2px rgba(0,0,0,0.12); border: 2px solid #000; border-radius: 2px; } 

  .quoteWidget .ui-countryselector input[type="radio"] { position: absolute; clip: rect(0px 0px 0px 0px); }

  .quoteWidget .ui-countryselector .groups-container { overflow: auto; position: absolute; width: 100%; height: 275px; margin: 5px 0 0; padding: 0; border: 0; -webkit-overflow-scrolling: touch; }

  /* Region/Country Grouping */
    .quoteWidget .ui-countryselector .group { width: 100%; }
      .quoteWidget .ui-countryselector .group.active { z-index: 1000 }

  /* Labels/Legends */
  .quoteWidget .ui-countryselector legend { position: absolute; overflow: hidden; clip: rect(0,0,0,0); width: 0 !important; height: 0; }

    .quoteWidget .ui-countryselector .group-label, .touchevents .quoteWidget .ui-countryselector .group-label { margin: 0; width: 100%; height: 44px; background: none; border: 0; border-radius: 0; text-align: left; -webkit-user-select: none; }
      .quoteWidget .ui-countryselector .group-label strong { display: block; height: 44px; padding: 6px 15px 0 15px; font-weight: normal; font-size: 1.0rem; font-family: "ProximaNova-Light"; text-decoration: underline; }

        .quoteWidget .ui-countryselector .group input[type="radio"]:checked + .group-label { background: #000; font-family: 'ProximaNova-Light'; color: #fff; text-decoration: none; }

    /* Opening Regions */
    .quoteWidget .ui-countryselector input[type="radio"] + label ~ div.columns { overflow: hidden; float: none; position: absolute; clip: rect(0,0,0,0); width: 100%; height: 0; margin: 0; padding: 0; }
      .quoteWidget .ui-countryselector input[type="radio"]:checked + label ~ div.columns { position: static; height: auto; }  

  /* Columns */
  .quoteWidget .ui-countryselector .column { overflow: hidden; float: none; position: static; display: block; width: 100%; margin: 0; padding: 0; }
    .quoteWidget .ui-countryselector .column input[type="radio"] { margin-left: 20px; z-index: 1; }
    .quoteWidget .ui-countryselector .column label, .touchevents .quoteWidget .ui-countryselector .column label  { width: 100%; height: 44px; margin: 0; padding: 12px 15px 0 30px; background: none; border: 0; border-radius: 0; font-size: 1.0rem; color: #000; text-align: left; text-decoration: none; -webkit-user-select: none; }

    .quoteWidget .ui-countryselector .group-label:hover strong { font-weight: normal; }

   .quoteWidget .ui-countryselector .column input[type="radio"]:checked + label, .touchevents .quoteWidget .ui-countryselector .column input[type="radio"]:checked + label { background: #000; color: #fff; text-decoration: none; }