/*

Cover-More/Medibank Theme Style Sheet - Plan Options - Innate
--------------------------------------------*/

/* Defaults */
h3 { font-size: 1.375rem; }

/* Articla */
article { border-radius: 4px; }
  section h2 { min-height: 68px; margin: 0 0 20px; padding-top: 20px; font-size: 1.25rem; }

/* Plan Selector */
.planSelector { overflow: hidden; margin: -15px 0 0; border-radius: 4px 4px 0 0; box-sizing: border-box; }  
  .planSelector li { float: left; width: 33.3333%; margin: 0; padding: 0; font-size: 0.75rem; font-family: "DIN Medium"; box-sizing: border-box; }
  .planSelector li:last-child input[type="radio"] + label { border-right: 0; }
  .planSelector input[type="radio"] + label { min-height: 166px; margin: 0; padding: 17px 10px 47px; border-right: 1px solid #dfdfdf; background: url(../../files/images/backgrounds/bkg-selectplan.png) no-repeat; background-position: center bottom -207px; background-size: 22px 244px; color: #8f8f8f; box-sizing: border-box; } /* Changed 4/12/16 */
    .planSelector input[type="radio"]:checked + label { background-color: #8dc945; background-position: center bottom 15px; border-right: 0; color: #fff; }

  .planSelector input[type="radio"]:focus + label, .planSelector input[type="radio"]:active + label { outline: 0; text-decoration: underline; }
    
    /* Changed/Added 4/12/16 */
  .planSelector strong { display: block; font-size: 1.0625rem; font-family: "DIN Black"; }
    .planSelector .regularPrice { font-family: "DIN Bold"; text-decoration: line-through; opacity: 0.5; }
    .planSelector input[type="radio"]:checked + label strong { color: #4e7e16; }

.discount { margin: 0 -10px 15px; padding: 10px 0 20px 5px; background: #f2f2f2; border-radius: 4px 4px 0 0; box-sizing: border-box; }


/* Intro */
.intro { margin-bottom: 30px; }
 
/* Form Styles */
  .intro label { margin-bottom: 6px; font-size: 1.375rem; color: #4d4d4d; }
    .intro select ~ label { margin-top: 20px; }
  .intro .help { float: right; }


/* Plans */
.plans { }


/* Benefits Table */
.benefits { padding-bottom: 25px; }

.benefitsTable { float: none; clear: both; margin-bottom: 20px; }
  .benefitsTable th, .benefitsTable td { font-size: 0.9375rem; }
    .benefitsTable th { width: 80%; cursor: pointer; } 
    .benefitsTable td { width: 20%; } 
  .benefitsTable th { padding: 0 12px 10px 20px; background: url(../../files/images/backgrounds/bkg-benefitstable.gif) no-repeat 2px 5px; background-size: 6px 6px; font-weight: normal; }
  .benefitsTable td { padding: 0 0 10px 20px; }

  .benefitsTable tr:nth-child(n+6) { display: none; }

  /* Open Benefits */
.benefits .btnLink { display: block; width: 120px; height: 35px; margin: 0; padding-top: 8px; background-color: #8f8f8f; background-image: none; }  
  .benefits .btnLink:hover, .benefits .btnLink:active, .benefits .btnLink:focus { background-color: #6e6e6e; }
  .openBenefits tr:nth-child(n+6) { display: table-row; }

/* Add-ons */
.extras { padding-top: 25px; border-top: 1px solid #e4e4e4; } 
  .extras .purchaseList { margin: 20px 0 0; padding: 0; }
    .extras .purchaseList > li { float: none; width: 100%; margin: 0 0 20px 0; padding: 0; } /* Changed 4/8/16 */
      .extras .purchaseList > li:last-child, .extras .purchaseList > li.luggage { margin-right: 0; }
        .extras .purchaseList > li:nth-child(4).selected:after { content: ""; position: absolute; display: block; width: 0; height: 0; margin-top: -13px; margin-left: calc(50% - 35px); border: 17px solid transparent; border-bottom: 17px solid #dbdbdb; } /* Changed 4/8/16 */

    .extras label { margin: 0; padding: 85px 18px 20px 20px; background: #eee; border-radius: 4px 4px 0 0; font-size: 1.15rem; line-height: 1.2; color: #fff; box-sizing: border-box; cursor: default; } /* Changed 4/12/16 */
      .extras label.error { height: auto; margin: 8px 0; padding: 0; background: none; }
      .extras .purchaseList label { background-repeat: no-repeat; background-position: 20px 25px; background-size: 44px 44px; }
      .extras .winter label { background-color: #0081b5; background-image: url(../../files/images/backgrounds/bkg-winter.svg); }
      .extras .rental label { background-color: #007c85; background-image: url(../../files/images/backgrounds/bkg-rental.svg); }       
      .extras .motorcycle label { background-color: #914981; background-image: url(../../files/images/backgrounds/bkg-scooter.svg); background-position: 20px 20px; background-size: 60px 60px; }
      .extras .luggage label { background-color: #f69134; background-image: url(../../files/images/backgrounds/bkg-luggage.svg); }                    
  .extras select { padding: 0 15px; border-radius: 0 0 4px 4px; }
  .extras .help { position: static; float: right; display: block; margin: -74px -11px 0 0; } /* Changed 4/8/16 */

/* Luggage Coverage */
#luggageBox.small-16 { max-width: 100% !important; border: 1px solid #dbdbdb; }

#luggageItemsContainer { max-width: 100% !important; width: 100%; min-height: 150px; padding: 1.25em; text-align: left; border: 1px solid #dbdbdb; border-radius: 4px; font-size: 1.0rem; }
  #luggageItemsContainer table { width: 100%; border: 0; border-spacing: 5px; border-collapse: separate; }
  #luggageItemsContainer tr { display: block; padding: 0; background: none; }
    #luggageItemsContainer tr:first-child { position: absolute; overflow: hidden; clip: rect(0,0,0,0); width: 0 !important; height: 0; }
    #luggageItemsContainer tr:nth-child(2) { margin-top: 0; }
    #luggageItemsContainer tr:nth-child(2) td:last-child { display: none; }
  #luggageItemsContainer th { display: none; height: 15px; vertical-align: top; }  

  #luggageItemsContainer input, #luggageItemsContainer select { margin-bottom: 0; }
  /*#luggageItemsContainer [readonly] { margin-right: 5px; border: 0; }*/
  #luggageItemsContainer label { display: block; font-weight: bold; }

    #luggageItemsContainer tr:nth-child(2) td { padding-bottom: 10px;  }
    #luggageItemsContainer tr:nth-child(2) td:last-child { vertical-align: middle; padding: 15px 0 0; }

      #luggageItemsContainer tr:last-child td:last-child { border-bottom: 1px solid #dbdbdb; }     

  #luggageItemsContainer select, #luggageItemsContainer p { margin: 0; }
  #luggageItemsContainer button { width: auto; margin-left: 15px; padding-left: 30px; background: transparent url(../../files/images/icons/icon-plus.svg) no-repeat 0 center; background-size: 20px 20px; color: #0083c0; text-align: left; }  
  #luggageItemsContainer .removeLuggageItem { margin-left: 0; background-image: url(../../files/images/icons/icon-remove-luggage.svg); }
    #luggageItemsContainer button:hover, #luggageItemsContainer button:active, #luggageItemsContainer button:focus { text-decoration: underline; }

  #luggageItemsContainer .help { float: right; margin-top: -38px; margin-right: -6px; } 
  #luggageItemsContainer p { margin-bottom: 10px; }  

.luggageRow { overflow: hidden; border-top: 1px solid #dbdbdb; }
  .luggageRow td { padding-top: 20px; padding-bottom: 5px; }


/* Benefit Hovers */
.popup { position: absolute; z-index: 2; margin: 0 0 0 100px; visibility: hidden; } /* Revised 4/6/16 */
  .popup:before { left: 0; }  
  .popup p { min-height: 0; margin: 0; }


/* 
  Additional Phone/Table Breakpoint - 568px/35.5em, 500px/31.25em
-----------------------------*/
@media screen and (min-width: 31.25em) {

  /* Plan Selector */
        .planSelector li { font-size: 1.0rem; }

}


/* 
  Large Phone/Small Tablet - 640px/40em
-----------------------------*/
@media screen and (min-width: 40em) {

    .qtip { left: auto !important; margin-left: 0; }

  /* Plan Selector */
  .discount { margin: 0 -15px 15px; padding-left: 10px; }

    /* Benefit Hovers */
    .benefitsTable th:hover .popup  { cursor: pointer; visibility: visible; pointer: cursor; } 

  /* Add-ons - Added 4/8/16 */
    .extras label { height: 150px; }
    .extras .purchaseList > li { width: 170px; margin-right: 22px; }    
        .extras .purchaseList > li:nth-child(4).selected:after { margin-left: 70px; }

  .extras .help { float: none; margin-top: -120px; margin-left: 122px; }   

  /* Luggage Coverage */
  #luggageItemsContainer button { margin-left: 5px; }  

    #luggageItemsContainer .removeLuggageItem { height: 20px; background-position: 0 0; text-indent: -9999px; }
    .luggageRow td { padding-bottom: 20px; }
      .luggageRow td:nth-child(2) { padding-left: 1.5rem; }
      .luggageRow td:nth-child(3) { padding-left: 2.5rem; }
      .luggageRow td:first-child { padding-left: 0; }
      #luggageItemsContainer tr:last-child td { border-bottom: 1px solid #dbdbdb; } 
      #luggageItemsContainer tr:nth-child(2) td { border-bottom: 0; }

}


/* 
  Tablet - 800px/50em
-----------------------------*/
@media screen and (min-width: 50em) {

  /* Article */
  article.columns { padding-left: 15px; padding-right: 15px; }

  /* Plan Selector - Changed 4/7/16 */
        .planSelector input[type="radio"] + label { position: relative; min-height: 157px; padding: 17px 70px 17px 30px; background-position: right 20px bottom -215px; background-size: 32px 355px; font-size: 1.0625rem; } /* Changed 4/7/16 */
      .planSelector input[type="radio"]:checked + label { background-position: right 20px bottom 108px; } 
    .planSelector strong { position: absolute; bottom: 10px; font-size: 2.0rem; }
    .planSelector .regularPrice { bottom: 10px; }

  /* Discounts - Added 4/7/16 */
  .discountedPrice strong { bottom: 50px; }
  .discountedPrice input[type="radio"] + label { min-height: 197px; background-position: right 20px bottom -175px; }
    .discountedPrice input[type="radio"]:checked + label { background-position: right 20px bottom 148px; } 

  /* Benefits Table */
  /*.benefitsTable th, .benefitsTable td { font-size: 1.0625rem; }*/
  .benefitsTable th { background-position: 2px 6px; }

  /* Tooltips -  Added 3/18/16 */
  #qtip-5, #qtip-4, #qtip-0 { left: calc(50% - 450px) !important; }
  #qtip-1 { left: calc(50% - 450px) !important; }
  #qtip-2 { left: calc(50% - 350px) !important; }
  #qtip-3 { left: calc(50% - 150px) !important; }  
  /*#qtip-4 { left: calc(50% + 50px) !important; } */ 

}


/* 
  Desktop - 1024px/64em
-----------------------------*/
@media screen and (min-width: 64em) {

  section h2 { padding-top: 24px; font-size: 2.0rem; }  

  /* Plan Selector */
  .planSelector { margin: -30px 0 0; }

  .discount { position: absolute; margin-top: -50px; padding-left: 0; background: none; }  


}

/* IMPORTED FROM VWO */

h3 > span.small{ font-size:0.9375rem !important;font-style:italic;font-weight:normal!important;font-family:"DIN"}
article { overflow: hidden; }
.extras .purchaseList { width:100%; float:left; margin: 20px 0 0; padding: 0; }
.extras .purchaseList > li { float: left; width: 100%; margin: 0 0 20px 0; padding: 0; }
.extras label { margin: 0; padding:0px; background: #eee; border-radius:0; font-size: 1.15rem; line-height: 1.2; color: #fff; box-sizing: border-box; cursor: default; }
.extras .purchaseList span { display: inline-block; width:100px; height: 50px; float:left; background-repeat: no-repeat; background-position: 15px 5px; background-size: 40px 40px; position:relative; border-radius:25px; }
.extras .winter span { background-color: #0081b5; background-image: url(../files/images/backgrounds/bkg-winter.svg); }       
.extras .motorcycle span { background-color: #914981; background-image: url(../files/images/backgrounds/bkg-scooter.svg); background-position: 13px 0px; background-size: 50px 50px; }
.extras .rental span { background-color: #007c85; background-image: url(../files/images/backgrounds/bkg-rental.svg); }
.extras .luggage span { background-color: #f69134; background-image: url(../files/images/backgrounds/bkg-luggage.svg); }     
.extras .help { position: absolute; right:15px; top:5px; float: right; display: block; margin:0; }
.extras legend { width:60%; font-size:14px; float:left; margin:0 0 0 15px; padding:0; font-family: 'DIN Regular'; font-weight: normal; }
.purchaseList ul.radioList { float:right; clear:none; margin-top:5px; }
.purchaseList ul.radioList input[type=radio] { position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0; }
.purchaseList ul.radioList input[type=radio] + label { padding-left:27px; height:22px; display:inline-block; line-height:22px; background-repeat:no-repeat; background-position: 0px -88px; vertical-align:middle; cursor:pointer; }
.purchaseList ul.radioList input[type=radio]:checked + label { background-position:-88px 0; }
.purchaseList ul.radioList label { background-image: url(../files/images/backgrounds/bkg-radio.svg); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color:#4d4d4d; background-size:auto; width:auto; padding:0 0 0 50px !important; background-color: transparent; }
.extras legend strong sup{ font-size:10px; }
.selectOption { margin-top:15px; }
article.columns{ position:relative; }
#quoteControlForm { float:right; padding:0; position:absolute; right:0; bottom:-145px; margin-bottom:65px; }
.buttonWell { display:inline-block; width: 100%; }
.extras select{ float:right; width:140px; margin: 20px 0 0; border-radius: 0; }
@media screen and (min-width: 40em) {
	.extras span { height: 50px; }
	.extras .purchaseList > li { width: 100%; margin-right: 22px; }    
	.extras .purchaseList > li:nth-child(4).selected:after { margin-left: 70px; }
	.extras .help { float: none; margin:0; }
}

@media screen and (min-width: 50em) {
	#qtip-5, #qtip-4, #qtip-0 { left: calc(50% - 500px) !important; }
	#qtip-1 { left: calc(50% - 500px) !important; }
	#qtip-2 { left: calc(50% - 500px) !important; }
	#qtip-3 { left: calc(50% - 500px) !important; } 
}

@media screen and (max-width: 992px) {
	.outerContainer article{margin-bottom: 80px;}
	#quoteControlForm { margin:0; bottom:-70px; }
	.winter .help:focus, .rental .help:focus, .motorcycle .help:focus, .luggage .help:focus, .winter .help:active, .rental .help:active, .motorcycle .help:active, .luggage .help:active{ left:auto !important; top:5px !important; }
	.qtip-help {left:auto !important; margin-left:120px !important; }
}

@media screen and (max-width: 479px) {
	.extras legend { width:100%; margin:0; }
	.extras .purchaseList span { height:50px; margin-bottom:15px; }
	.purchaseList ul.radioList { width:100%;}
	.extras .purchaseList > li:nth-child(4).selected:after { left: 27px !important; margin-left: 0 !important; }	
	.qtip-help {left:auto !important; margin-left:100px !important;}
}

.extras .purchaseList > li:last-child, .extras .purchaseList > li.luggage { position:relative; }
.extras .purchaseList > li:nth-child(4).selected:after { bottom:-20px; left:-40px; }
.disclaimer{padding-top:80px;}
.luggage .help:hover img, .luggage .help:active img, .luggage .help:focus img {top:-22px;}
#luggageItemsContainer .help { float: right; margin-top: 17px; margin-right: 14px; }