/*

Cover-More/youGo Print Style Sheet - CDG Interactive, Inc.
--------------------------------------------*/

/*

Custom Fonts Initialization
--------------------------------------------*/
@font-face {
    font-family: 'Museo Sans Rounded 900';
    src: url('type/museosansrounded-900-webfont.eot');
    src: url('type/museosansrounded-900-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/museosansrounded-900-webfont.woff') format('woff'),
         url('type/museosansrounded-900-webfont.ttf') format('truetype'),
         url('type/museosansrounded-900-webfont.svg#museo_sans_rounded_900regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Rounded 700';
    src: url('type/museosansrounded-700-webfont.eot');
    src: url('type/museosansrounded-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/museosansrounded-700-webfont.woff') format('woff'),
         url('type/museosansrounded-700-webfont.ttf') format('truetype'),
         url('type/museosansrounded-700-webfont.svg#museo_sans_rounded_700regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Rounded 500';
    src: url('type/museosansrounded-500-webfont.eot');
    src: url('type/museosansrounded-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/museosansrounded-500-webfont.woff') format('woff'),
         url('type/museosansrounded-500-webfont.ttf') format('truetype'),
         url('type/museosansrounded-500-webfont.svg#museo_sans_rounded_500regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Rounded 300';
    src: url('type/museosansrounded-300-webfont.eot');
    src: url('type/museosansrounded-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/museosansrounded-300-webfont.woff') format('woff'),
         url('type/museosansrounded-300-webfont.ttf') format('truetype'),
         url('type/museosansrounded-300-webfont.svg#museo_sans_rounded_300regular') format('svg');
    font-weight: normal;
    font-style: normal;
}




/*

Initialization/Defaults
--------------------------------------------*/

/* --- Block Elements --- */
html { width: 100%; height: 100%; background: #fff; font-size: 62.5%; color: #666; }

  a img { border: none; }

/* --- Header Text --- */
h1, h2, h3, h4, h5, h6 { -webkit-margin-before: 0; -webkit-margin-after: 0; margin: 0 0 10px; font-weight: normal; }

h1, h2 { display: none; }


/* --- Block Text --- */
p, blockquote, caption, div { margin: 0 0 20px; }


/* --- List Items --- */
ul { list-style: none outside none; margin: 0 0 15px 30px; padding: 0; }
  ul li { margin: 0; padding: 0 0 5px; }

/*

Site Styles
--------------------------------------------*/

/* 
  Body
-----------------------------*/
body { background: transparent none; font-size: 15px; font-size: 1.5rem; line-height: 1.2; font-family: "Museo Sans Rounded 500", Helvetica, Arial, sans-serif; }


/* 
  Header
-----------------------------*/
.siteHeader { display: none; }


/* 
  Container
-----------------------------*/
.container { display: none; }


/* 
  Content
-----------------------------*/
.content { display: none; } 


/* 
  Footer
-----------------------------*/
.siteFooter { display: none; }


/* 
  Cards
-----------------------------*/
.cardArea { width: 100%; margin: 50px auto; padding: 0; background: transparent none; }
	.cardArea > ul { position: static; width: 1000px; margin: 0 auto; padding: 0; }
	.cardArea > ul > li { display: inline-block; margin: 0 18px 20px 0; vertical-align: top; }
	
	.cardArea .socialMedia { display: none; }

.cards { overflow: hidden; width: 288px; height: 196px; margin: 0; padding: 75px 0 0 182px; background: url(../files/images/backgrounds/bkg-cards.png) no-repeat; border-radius: 20px; box-shadow: 0 0 6px 1px rgba(0,0,0,0.2); font-size: 12px; font-size: 1.2rem; line-height: 1.3333; }
	.cards ul { margin: 0 0 10px; padding: 0; }
	.cards li { padding: 0; }
	.cards p { margin: 0 0 10px; }
	.cards h3 { margin: 0; font-size: 27px; font-size: 2.7rem; line-height: 1.1;  font-family: "Museo Sans Rounded 900"; }
	.cards strong { font-family: "Museo Sans Rounded 700"; }
	
.pickPhoto { position: absolute; z-index: 2; width: 141px; height: 141px; margin: -57px 0 0 -165px; }
	.pickPhoto em { display: none; }
	
.selectPhoto { display: none; }

.cards .policyNumber { position: absolute; margin: 167px 0 0 -147px; font-size: 11px; font-size: 1.1rem; font-family: "Museo Sans Rounded 700";color: #00abf4; }