/* Legacy/IE8 Code */


/* 
	Brackets
-----------------------------*/
.firstRound { background: transparent url(../images/backgrounds/bkg-brackets.png) no-repeat 135px 31px; }

	.week2 .firstRound { background-image: url(../images/backgrounds/bkg-bracket_week2.png); }
	.week3 .firstRound { background-image: url(../images/backgrounds/bkg-bracket_week3.png); }
	.week4 .firstRound, .week5 .firstRound, .week6 .firstRound { background-image: url(../images/backgrounds/bkg-bracket_week4.png); }	

	.semis .midwest, .semis .southeast { top: 1371px; }	
	

/* Finals */
	.finals p { background-image: url(../images/backgrounds/bkg-winner-legacy.png); }

/* 
	Content
-----------------------------*/
.content { background: url(../images/backgrounds/bkg-regions-legacy.png) no-repeat; }

/* Voting Area */
.votingBlock input { background-image: url(../images/buttons/btn-vote-legacy.png); } 	


/* 
	AJAX Window
-----------------------------*/
		.ajaxWindow .buttonWell input { background-image: url(../images/buttons/btn-submit-legacy.png); }
		.closeWindow { background-image: url(../images/links/link-closewindow-legacy.png); }

/* 
	Homepage/Intro
-----------------------------*/	
/* Content */
		.start { background-image: url(../images/buttons/btn-start-legacy.png); }		